{
  "openapi": "3.1.0",
  "info": {
    "title": "VMEG Open API",
    "description": "VMEG 公开 Open API，支持 TTS、文本翻译、媒体翻译、声音克隆与资产管理。响应格式为 `{ code, message, data }`；`code === 200` 表示成功。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.vmeg.ai",
      "description": "生产环境"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "TTS",
      "description": "Speech synthesis tasks (sync and async)"
    },
    {
      "name": "Text translation",
      "description": "Atomic text translation tasks"
    },
    {
      "name": "Voice clone",
      "description": "Voice cloning tasks"
    },
    {
      "name": "Media translation",
      "description": "Async video and audio translation tasks"
    },
    {
      "name": "Task management",
      "description": "List, detail, and delete submitted tasks"
    },
    {
      "name": "Assets - Materials",
      "description": "CDN direct upload, multipart upload, list, and delete"
    },
    {
      "name": "Assets - Voices",
      "description": "System and cloned voices"
    }
  ],
  "paths": {
    "/openapi/task/tts/create": {
      "post": {
        "tags": [
          "TTS"
        ],
        "summary": "创建 TTS 任务（同步）",
        "description": "调用 vmeg-tts Lambda（RequestResponse），同步返回合成结果。",
        "operationId": "ttsCreateSync",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiTtsCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiTtsCreateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/task/tts/create-async": {
      "post": {
        "tags": [
          "TTS"
        ],
        "summary": "创建 TTS 任务（异步）",
        "description": "调用 vmeg-tts Lambda（Event），仅返回 taskId；结果通过回调投递。",
        "operationId": "ttsCreateAsync",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiTtsCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "已接受",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiTtsCreateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/task/translate/create": {
      "post": {
        "tags": [
          "文本翻译"
        ],
        "summary": "创建文本翻译（同步）",
        "operationId": "translateCreateSync",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiTranslateCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiTranslateCreateResponse"
                }
              }
            }
          }
        },
        "description": "调用 translate Lambda（RequestResponse），同步返回翻译结果。"
      }
    },
    "/openapi/task/translate/create-async": {
      "post": {
        "tags": [
          "文本翻译"
        ],
        "summary": "创建文本翻译（异步）",
        "operationId": "translateCreateAsync",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiTranslateCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "已接受",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiTranslateCreateResponse"
                }
              }
            }
          }
        },
        "description": "Lambda Event 模式，仅返回 taskId。"
      }
    },
    "/openapi/task/clone-voice/create": {
      "post": {
        "tags": [
          "声音克隆"
        ],
        "summary": "创建声音克隆（同步）",
        "operationId": "cloneVoiceCreateSync",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiCloneVoiceCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiCloneVoiceCreateResponse"
                }
              }
            }
          }
        },
        "description": "调用 clone-voice Lambda；成功时返回 voiceId 并写入 t_openapi_voice。"
      }
    },
    "/openapi/task/clone-voice/create-async": {
      "post": {
        "tags": [
          "声音克隆"
        ],
        "summary": "创建声音克隆（异步）",
        "operationId": "cloneVoiceCreateAsync",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiCloneVoiceCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "已接受",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiCloneVoiceCreateResponse"
                }
              }
            }
          }
        },
        "description": "Lambda Event 模式，仅返回 taskId。"
      }
    },
    "/openapi/task/media-translation/create-async": {
      "post": {
        "tags": [
          "媒体翻译"
        ],
        "summary": "创建媒体翻译（异步）",
        "description": "立即返回 taskId，最终结果通过 Webhook 投递。若 taskType=at 且素材为视频，则按 vt 执行；响应中的 requestedTaskType 为原始请求类型。",
        "operationId": "mediaTranslationCreateAsync",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMediaTranslationCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "已接受",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiMediaTranslationCreateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/tasks/list": {
      "get": {
        "tags": [
          "任务管理"
        ],
        "summary": "任务列表",
        "operationId": "tasksList",
        "parameters": [
          {
            "name": "projId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "项目 ID（来自 API Key 鉴权上下文）"
          },
          {
            "name": "taskType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OpenApiTaskType"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currentPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiTaskListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/tasks/detail": {
      "get": {
        "tags": [
          "任务管理"
        ],
        "summary": "任务详情",
        "operationId": "tasksDetail",
        "parameters": [
          {
            "name": "projId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiTaskDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/tasks/delete": {
      "post": {
        "tags": [
          "任务管理"
        ],
        "summary": "删除任务",
        "operationId": "tasksDelete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiTaskDeleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiVoidResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/assets/material/upload/gen-upload-url": {
      "post": {
        "tags": [
          "资产 - 素材"
        ],
        "summary": "生成预签名上传 URL",
        "operationId": "materialGenUploadUrl",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMaterialFileHashRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiMaterialGenUploadUrlResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/assets/material/upload/complete": {
      "post": {
        "tags": [
          "资产 - 素材"
        ],
        "summary": "完成单文件上传",
        "operationId": "materialUploadComplete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMaterialUploadCompleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiMaterialDtoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/assets/material/upload/multipart/initiate": {
      "post": {
        "tags": [
          "资产 - 素材"
        ],
        "summary": "初始化分片上传",
        "operationId": "materialMultipartInitiate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMaterialFileHashRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiMaterialMultipartInitiateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/assets/material/upload/multipart/presign-parts": {
      "post": {
        "tags": [
          "资产 - 素材"
        ],
        "summary": "为分片生成预签名 URL",
        "operationId": "materialMultipartPresign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMaterialMultipartPresignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiMaterialMultipartPresignResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/assets/material/upload/multipart/complete": {
      "post": {
        "tags": [
          "资产 - 素材"
        ],
        "summary": "完成分片上传",
        "operationId": "materialMultipartComplete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMaterialMultipartCompleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiMaterialDtoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/assets/material/upload/multipart/abort": {
      "post": {
        "tags": [
          "资产 - 素材"
        ],
        "summary": "中止分片上传",
        "operationId": "materialMultipartAbort",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMaterialMultipartAbortRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiVoidResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/assets/material/list": {
      "get": {
        "tags": [
          "资产 - 素材"
        ],
        "summary": "素材列表",
        "operationId": "materialList",
        "parameters": [
          {
            "name": "projId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currentPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiMaterialListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/assets/material/delete": {
      "post": {
        "tags": [
          "资产 - 素材"
        ],
        "summary": "删除素材（逻辑删除）",
        "operationId": "materialDelete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMaterialDeleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiVoidResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/assets/voice/basic/list": {
      "post": {
        "tags": [
          "资产 - 音色"
        ],
        "summary": "系统音色列表（只读）",
        "operationId": "voiceBasicList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiBasicVoiceListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiBasicVoiceListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/assets/voice/clone/list": {
      "post": {
        "tags": [
          "资产 - 音色"
        ],
        "summary": "克隆音色列表",
        "operationId": "voiceCloneList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiCloneVoiceListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiCloneVoiceListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/assets/voice/clone/update": {
      "post": {
        "tags": [
          "资产 - 音色"
        ],
        "summary": "重命名克隆音色",
        "operationId": "voiceCloneUpdate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiCloneVoiceUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiVoidResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/assets/voice/clone/delete": {
      "post": {
        "tags": [
          "资产 - 音色"
        ],
        "summary": "删除克隆音色（逻辑删除）",
        "operationId": "voiceCloneDelete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiCloneVoiceDeleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiVoidResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "taskCallback": {
      "post": {
        "tags": [
          "Webhook"
        ],
        "summary": "任务完成回调（由 VMEG 发送至你的 URL）",
        "description": "异步任务完成后，VMEG 向配置的 Webhook URL 发送 POST，并附带 X-Timestamp 与 X-Signature（HMAC-SHA256）。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiCallbackDispatchBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "接收成功（请返回 2xx）"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "项目 API Key：`Authorization: Bearer <api_key>`"
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "X-Idempotency-Key",
        "in": "header",
        "description": "幂等键（异步创建必填，最长 64 字符）",
        "schema": {
          "type": "string",
          "maxLength": 64
        }
      },
      "IdempotencyKeyRequired": {
        "name": "X-Idempotency-Key",
        "in": "header",
        "required": true,
        "description": "幂等键（必填，最长 64 字符）",
        "schema": {
          "type": "string",
          "maxLength": 64
        }
      }
    },
    "schemas": {
      "OpenApiResponseBase": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 200,
            "description": "业务码；200 表示成功"
          },
          "message": {
            "type": "string",
            "example": ""
          }
        },
        "required": [
          "code"
        ]
      },
      "OpenApiVoidResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "nullable": true
              }
            }
          }
        ]
      },
      "OpenApiTaskType": {
        "type": "string",
        "enum": [
          "VIDEO_TRANSLATION",
          "AUDIO_TRANSLATION",
          "SUBTITLE_TRANSLATION",
          "TTS",
          "CLONE_VOICE",
          "TEXT_TRANSLATION"
        ]
      },
      "OpenApiTtsCreateRequest": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "provider": {
            "type": "string",
            "example": "V1",
            "description": "引擎代码：V1-V5，或 MM/V2/CB/IT/CVC 等"
          },
          "language": {
            "type": "object",
            "properties": {
              "target": {
                "type": "string",
                "example": "en-US"
              }
            }
          },
          "trim": {
            "type": "boolean",
            "default": false
          },
          "data": {
            "type": "array",
            "maxItems": 50,
            "items": {
              "$ref": "#/components/schemas/OpenApiTtsDataItem"
            }
          },
          "outputFormat": {
            "type": "string",
            "enum": [
              "wav",
              "mp3",
              "m4a"
            ],
            "default": "m4a"
          },
          "extraData": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "OpenApiTtsDataItem": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string"
          },
          "voiceId": {
            "type": "string",
            "description": "使用 voiceId 或 timbreRefAudio 之一"
          },
          "timbreRefAudio": {
            "type": "string",
            "description": "音色参考音频 S3 URL"
          },
          "emoWeight": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "emoRefAudio": {
            "type": "string"
          },
          "emoPrompt": {
            "type": "string"
          },
          "duration": {
            "type": "number",
            "description": "目标时长（秒）"
          }
        }
      },
      "OpenApiTtsCreateData": {
        "type": "object",
        "properties": {
          "taskId": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "audioUrl": {
                  "type": "string"
                },
                "duration": {
                  "type": "number"
                }
              }
            },
            "description": "异步提交时不返回"
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "OpenApiTtsCreateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiTtsCreateData"
              }
            }
          }
        ]
      },
      "OpenApiTranslateCreateRequest": {
        "type": "object",
        "required": [
          "language",
          "segments"
        ],
        "properties": {
          "language": {
            "type": "object",
            "required": [
              "source",
              "target"
            ],
            "properties": {
              "source": {
                "type": "string",
                "example": "zh-CN"
              },
              "target": {
                "type": "string",
                "example": "en-US"
              }
            }
          },
          "segments": {
            "type": "array",
            "maxItems": 50,
            "items": {
              "$ref": "#/components/schemas/OpenApiTranslateSegment"
            }
          },
          "options": {
            "type": "object",
            "additionalProperties": true
          },
          "extraData": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "OpenApiTranslateSegment": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string"
          },
          "gender": {
            "type": "string",
            "example": "male"
          },
          "speaker": {
            "type": "string"
          },
          "locale": {
            "type": "string"
          },
          "context": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "start": {
            "type": "number"
          },
          "end": {
            "type": "number"
          }
        }
      },
      "OpenApiTranslateCreateData": {
        "type": "object",
        "properties": {
          "taskId": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "OpenApiTranslateCreateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiTranslateCreateData"
              }
            }
          }
        ]
      },
      "OpenApiCloneVoiceCreateRequest": {
        "type": "object",
        "properties": {
          "voiceName": {
            "type": "string"
          },
          "provider": {
            "type": "string",
            "example": "V1"
          },
          "refAudio": {
            "type": "string",
            "description": "HTTPS reference audio URL"
          },
          "sampleLanguage": {
            "type": "string",
            "example": "zh-CN"
          },
          "sampleText": {
            "type": "string"
          },
          "extraData": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "OpenApiCloneVoiceCreateData": {
        "type": "object",
        "properties": {
          "taskId": {
            "type": "string"
          },
          "voiceId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "OpenApiCloneVoiceCreateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiCloneVoiceCreateData"
              }
            }
          }
        ]
      },
      "OpenApiMediaTranslationCreateRequest": {
        "type": "object",
        "required": [
          "taskType",
          "source",
          "language",
          "options"
        ],
        "properties": {
          "taskType": {
            "type": "string",
            "enum": [
              "vt",
              "at"
            ],
            "description": "vt = video translation, at = audio translation"
          },
          "source": {
            "type": "object",
            "required": [
              "materialId"
            ],
            "properties": {
              "materialId": {
                "type": "string"
              }
            }
          },
          "language": {
            "type": "object",
            "properties": {
              "source": {
                "type": "string"
              },
              "target": {
                "type": "string"
              }
            }
          },
          "options": {
            "type": "object",
            "description": "Dubbing, ASR, translation, etc. See media translation guide"
          },
          "output": {
            "type": "object"
          },
          "extraData": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "OpenApiMediaTranslationCreateData": {
        "type": "object",
        "properties": {
          "taskId": {
            "type": "string"
          },
          "requestedTaskType": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "OpenApiMediaTranslationCreateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiMediaTranslationCreateData"
              }
            }
          }
        ]
      },
      "OpenApiTaskListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object"
              }
            }
          }
        ]
      },
      "OpenApiTaskDetailResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object"
              }
            }
          }
        ]
      },
      "OpenApiTaskDeleteRequest": {
        "type": "object",
        "required": [
          "projId",
          "taskId"
        ],
        "properties": {
          "projId": {
            "type": "string"
          },
          "taskId": {
            "type": "string"
          }
        }
      },
      "OpenApiMaterialFileHashRequest": {
        "type": "object",
        "required": [
          "fileHash",
          "fileName"
        ],
        "properties": {
          "fileHash": {
            "type": "string",
            "description": "File MD5 hash"
          },
          "fileName": {
            "type": "string",
            "description": "File name including extension"
          }
        }
      },
      "OpenApiMaterialUploadCompleteRequest": {
        "type": "object",
        "properties": {
          "fileHash": {
            "type": "string"
          },
          "fileName": {
            "type": "string"
          },
          "uploadId": {
            "type": "string"
          }
        }
      },
      "OpenApiMaterialMultipartPresignRequest": {
        "type": "object",
        "properties": {
          "uploadId": {
            "type": "string"
          },
          "partNumbers": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "OpenApiMaterialMultipartCompleteRequest": {
        "type": "object",
        "properties": {
          "uploadId": {
            "type": "string"
          },
          "parts": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "OpenApiMaterialMultipartAbortRequest": {
        "type": "object",
        "properties": {
          "uploadId": {
            "type": "string"
          }
        }
      },
      "OpenApiMaterialDeleteRequest": {
        "type": "object",
        "properties": {
          "materialId": {
            "type": "string"
          }
        }
      },
      "OpenApiMaterialGenUploadUrlResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object"
              }
            }
          }
        ]
      },
      "OpenApiMaterialMultipartInitiateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object"
              }
            }
          }
        ]
      },
      "OpenApiMaterialMultipartPresignResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object"
              }
            }
          }
        ]
      },
      "OpenApiMaterialDtoResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object"
              }
            }
          }
        ]
      },
      "OpenApiMaterialListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object"
              }
            }
          }
        ]
      },
      "OpenApiBasicVoiceListRequest": {
        "type": "object"
      },
      "OpenApiBasicVoiceListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object"
              }
            }
          }
        ]
      },
      "OpenApiCloneVoiceListRequest": {
        "type": "object"
      },
      "OpenApiCloneVoiceListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object"
              }
            }
          }
        ]
      },
      "OpenApiCloneVoiceUpdateRequest": {
        "type": "object",
        "properties": {
          "voiceId": {
            "type": "string"
          },
          "voiceName": {
            "type": "string"
          }
        }
      },
      "OpenApiCloneVoiceDeleteRequest": {
        "type": "object",
        "properties": {
          "voiceId": {
            "type": "string"
          }
        }
      },
      "OpenApiCallbackDispatchBody": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 200
          },
          "version": {
            "type": "string",
            "example": "1.0"
          },
          "event": {
            "type": "string",
            "example": "task.completed"
          },
          "message": {
            "type": "string"
          },
          "extraData": {
            "type": "object",
            "description": "From request extraData / memo"
          },
          "data": {
            "type": "object",
            "description": "Task result JSON"
          }
        }
      }
    }
  }
}
