{
  "openapi": "3.1.0",
  "info": {
    "title": "VMEG Open API",
    "description": "将 VMEG 集成到产品中：翻译并配音视频或音频、语音合成、声音克隆、纯文本翻译，以及管理 API 侧文件。响应格式为 `{ code, message, data }`；`code === 200` 表示成功。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.vmeg.ai",
      "description": "生产环境"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "媒体翻译",
      "x-group": "视频与音频翻译配音",
      "description": "对上传的视频或音频做端到端本地化：识别语音、翻译文稿、生成 AI 配音（克隆或预设音色），并返回配音后的媒体。可选字幕与口型同步。**仅异步** — 配音文件通过 [Webhook](/zh/guides/webhooks) 投递。这不是纯文本翻译；见 [媒体翻译](/zh/guides/products/media-translation)。"
    },
    {
      "name": "TTS",
      "x-group": "文本转语音（TTS）",
      "description": "用预设或克隆音色将文本合成为自然语音。**同步**在 HTTP 响应中返回音频 URL；**异步**通过 [Webhook](/zh/guides/webhooks) 投递结果。见 [文本转语音](/zh/guides/products/text-to-speech)。"
    },
    {
      "name": "声音克隆",
      "x-group": "声音克隆",
      "description": "从短参考录音创建可复用音色，返回可用于 TTS 或翻译配音任务的 `voiceId`。见 [声音克隆](/zh/guides/products/voice-clone)。"
    },
    {
      "name": "文本翻译",
      "x-group": "文本翻译（仅文本）",
      "description": "翻译纯文本片段，不处理音频或视频。媒体中的口语内容请使用 **视频与音频翻译配音**。见 [文本翻译](/zh/guides/products/text-translation)。"
    },
    {
      "name": "任务管理",
      "x-group": "任务状态与历史",
      "description": "列出、查看或删除通过各产品 API 创建的任务。无法依赖 Webhook 时可轮询 `GET .../tasks/detail`。范围限定于当前 **API Key**。见 [产品概览](/zh/guides/products/overview)。"
    },
    {
      "name": "资产 - 素材",
      "x-group": "上传文件（素材）",
      "description": "上传并管理用于翻译配音任务的视频/音频。流程：预签名上传 → 登记素材 → 将 `materialId` 传入 create-async。见 [素材上传](/zh/guides/assets/material-upload)。"
    },
    {
      "name": "资产 - 音色",
      "x-group": "音色（预设与克隆）",
      "description": "列出 TTS 预设音色，或管理已克隆音色。克隆音色通过 **声音克隆** 创建。见 [音色](/zh/guides/assets/voices)。"
    }
  ],
  "paths": {
    "/openapi/v1/task/tts/create": {
      "post": {
        "tags": [
          "TTS"
        ],
        "summary": "合成语音（同步）",
        "description": "一次请求完成文本转语音。音频 URL 立即在 HTTP `data` 中返回，无需 Webhook。",
        "operationId": "ttsCreateSync",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiTtsCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiTtsCreateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/task/tts/create-async": {
      "post": {
        "tags": [
          "TTS"
        ],
        "summary": "合成语音（异步）",
        "description": "提交较长或批量的 TTS 任务。HTTP 仅返回受理信息（`taskId`）。完成后的音频通过 [Webhook](/zh/guides/webhooks) 回调投递（`event`: `openapi-tts`）。",
        "operationId": "ttsCreateAsync",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiTtsCreateAsyncRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "仅返回受理信息（`taskId`、`createdAt`）。最终生成结果在 [Webhook](/zh/guides/webhooks) 回调请求体中。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiTaskAcceptedResponse"
                }
              }
            }
          }
        },
        "callbacks": {
          "taskCompleted": {
            "https://{yourWebhookUrl}": {
              "post": {
                "summary": "异步任务完成时的 Webhook（`event`: `openapi-tts`）",
                "description": "文本转语音异步任务完成时，VMEG 向你方 [Webhook](/zh/guides/webhooks) URL POST 的**请求体**。JSON 中 `event` 为 `openapi-tts`（见 [Webhook 请求体](/zh/guides/webhook-request)）。不属于上方 create-async **Response**。完整 schema：[创建 TTS（异步）](/zh/api-reference/tts/create-tts-async) → **Callbacks**。",
                "parameters": [
                  {
                    "$ref": "#/components/parameters/CallbackTimestamp"
                  },
                  {
                    "$ref": "#/components/parameters/CallbackSignature"
                  }
                ],
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/OpenApiTtsTaskCompletedCallback"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "请尽快返回 2xx 以停止重试"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/task/translate/create": {
      "post": {
        "tags": [
          "文本翻译"
        ],
        "summary": "翻译文本片段（同步）",
        "operationId": "translateCreateSync",
        "x-mint": {
          "href": "/zh/api-reference/text-translation/create-text-translation-sync",
          "metadata": {
            "sidebarTitle": "翻译文本（同步）",
            "title": "翻译文本片段（同步）"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiTranslateCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiTranslateCreateResponse"
                }
              }
            }
          }
        },
        "description": "一次请求翻译纯文本片段，译文立即在 HTTP `data` 中返回。**不**处理视频或音频 — 媒体请使用 **创建翻译配音任务**。"
      }
    },
    "/openapi/v1/task/translate/create-async": {
      "post": {
        "tags": [
          "文本翻译"
        ],
        "summary": "翻译文本片段（异步）",
        "operationId": "translateCreateAsync",
        "description": "提交批量文本翻译任务。HTTP 仅返回受理信息（`taskId`）。译文通过 [Webhook](/zh/guides/webhooks) 回调投递（`event`: `openapi-translate`）。",
        "x-mint": {
          "href": "/zh/api-reference/text-translation/create-text-translation-async",
          "metadata": {
            "sidebarTitle": "翻译文本（异步）",
            "title": "翻译文本片段（异步）"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiTranslateCreateAsyncRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "仅返回受理信息（`taskId`、`createdAt`）。最终生成结果在 [Webhook](/zh/guides/webhooks) 回调请求体中。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiTaskAcceptedResponse"
                }
              }
            }
          }
        },
        "callbacks": {
          "taskCompleted": {
            "https://{yourWebhookUrl}": {
              "post": {
                "summary": "异步任务完成时的 Webhook（`event`: `openapi-translate`）",
                "description": "文本翻译异步任务完成时的 Webhook **请求体**；`event` 为 `openapi-translate`。见 [Webhook 请求体](/zh/guides/webhook-request)。完整 schema：[创建文本翻译（异步）](/zh/api-reference/text-translation/create-text-translation-async) → **Callbacks**。",
                "parameters": [
                  {
                    "$ref": "#/components/parameters/CallbackTimestamp"
                  },
                  {
                    "$ref": "#/components/parameters/CallbackSignature"
                  }
                ],
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/OpenApiTranslateTaskCompletedCallback"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "请尽快返回 2xx 以停止重试"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/task/clone-voice/create": {
      "post": {
        "tags": [
          "声音克隆"
        ],
        "summary": "从样本音频克隆音色（同步）",
        "operationId": "cloneVoiceCreateSync",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiCloneVoiceCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiCloneVoiceCreateResponse"
                }
              }
            }
          }
        },
        "description": "一次请求从短参考录音克隆说话人。成功时返回 `voiceId`，可用于 TTS 或翻译配音任务。"
      }
    },
    "/openapi/v1/task/clone-voice/create-async": {
      "post": {
        "tags": [
          "声音克隆"
        ],
        "summary": "从样本音频克隆音色（异步）",
        "operationId": "cloneVoiceCreateAsync",
        "description": "提交声音克隆任务。HTTP 仅返回受理信息（`taskId`）。新 `voiceId` 通过 [Webhook](/zh/guides/webhooks) 回调投递（`event`: `openapi-clone-voice`）。",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiCloneVoiceCreateAsyncRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "仅返回受理信息（`taskId`）。最终生成结果在 [Webhook](/zh/guides/webhooks) 回调请求体中。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiTaskAcceptedResponse"
                }
              }
            }
          }
        },
        "callbacks": {
          "taskCompleted": {
            "https://{yourWebhookUrl}": {
              "post": {
                "summary": "异步任务完成时的 Webhook（`event`: `openapi-clone-voice`）",
                "description": "声音克隆异步任务完成时的 Webhook **请求体**；`event` 为 `openapi-clone-voice`。见 [Webhook 请求体](/zh/guides/webhook-request)。完整 schema：[创建声音克隆（异步）](/zh/api-reference/clone-voice/create-voice-clone-async) → **Callbacks**。",
                "parameters": [
                  {
                    "$ref": "#/components/parameters/CallbackTimestamp"
                  },
                  {
                    "$ref": "#/components/parameters/CallbackSignature"
                  }
                ],
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/OpenApiCloneVoiceTaskCompletedCallback"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "请尽快返回 2xx 以停止重试"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/task/media-translation/create-async": {
      "post": {
        "tags": [
          "媒体翻译"
        ],
        "summary": "创建翻译配音任务",
        "description": "为已上传的视频或音频启动异步 **翻译配音** 流水线：识别语音 → 翻译文稿 → 生成 AI 配音（克隆或预设音色）→ 渲染输出。可通过 `options` 配置字幕与口型同步。HTTP 仅返回受理信息（`taskId`）。配音后视频/音频 URL 通过 [Webhook](/zh/guides/webhooks) 回调投递（`event`: `openapi-media-translation`）。\n\n若请求音频翻译（`taskType`: `at`）但素材为视频，服务端可能按视频翻译（`vt`）执行 — 请以受理响应中的 `taskType` 为准。",
        "operationId": "mediaTranslationCreateAsync",
        "x-mint": {
          "href": "/zh/api-reference/media-translation/create-media-translation-async",
          "metadata": {
            "sidebarTitle": "创建翻译配音任务",
            "title": "创建翻译配音任务"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMediaTranslationCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "仅返回受理信息（`taskId`、`taskType`、`status`、`createdAt`）。最终生成结果在 [Webhook](/zh/guides/webhooks) 回调请求体中。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiMediaTranslationAcceptedResponse"
                }
              }
            }
          }
        },
        "callbacks": {
          "taskCompleted": {
            "https://{yourWebhookUrl}": {
              "post": {
                "summary": "异步任务完成时的 Webhook（`event`: `openapi-media-translation`）",
                "description": "音视频翻译异步任务完成时的 Webhook **请求体**；`event` 为 `openapi-media-translation`。见 [Webhook 请求体](/zh/guides/webhook-request)。完整 schema：[创建媒体翻译（异步）](/zh/api-reference/media-translation/create-media-translation-async) → **Callbacks**。",
                "parameters": [
                  {
                    "$ref": "#/components/parameters/CallbackTimestamp"
                  },
                  {
                    "$ref": "#/components/parameters/CallbackSignature"
                  }
                ],
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/OpenApiMediaTranslationTaskCompletedCallback"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "请尽快返回 2xx 以停止重试"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/tasks/list": {
      "get": {
        "tags": [
          "任务管理"
        ],
        "summary": "API 任务列表",
        "operationId": "tasksList",
        "x-mint": {
          "href": "/zh/api-reference/tasks/list-tasks",
          "metadata": {
            "sidebarTitle": "API 任务列表",
            "title": "API 任务列表"
          }
        },
        "parameters": [
          {
            "name": "taskType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OpenApiTaskType"
            },
            "description": "按任务类型筛选"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "按任务状态筛选"
          },
          {
            "name": "currentPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "页码（从 1 开始）"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "每页条数"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiTaskListResponse"
                }
              }
            }
          }
        },
        "description": "分页列出已提交的任务（翻译配音、TTS、文本翻译、声音克隆）。可按 `taskType` 与 `status` 筛选。范围限定于当前 **API Key**。异步结果仍通过 [Webhook](/zh/guides/webhooks) 投递 — 本接口用于浏览历史或补查丢失的回调。"
      }
    },
    "/openapi/v1/tasks/detail": {
      "get": {
        "tags": [
          "任务管理"
        ],
        "summary": "查询任务状态与结果",
        "operationId": "tasksDetail",
        "x-mint": {
          "href": "/zh/api-reference/tasks/get-task-detail",
          "metadata": {
            "sidebarTitle": "查询任务状态",
            "title": "查询任务状态与结果"
          }
        },
        "parameters": [
          {
            "name": "taskId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Open API 任务 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiTaskDetailResponse"
                }
              }
            }
          }
        },
        "description": "轮询单个 `taskId` 的状态与 `result` — 适用于任意 `create-async` 之后，或 Webhook 不可用时。翻译配音任务完成后，`result` 含配音媒体 CDN 地址。范围限定于当前 **API Key**。"
      }
    },
    "/openapi/v1/tasks/delete": {
      "post": {
        "tags": [
          "任务管理"
        ],
        "summary": "删除 API 任务",
        "operationId": "tasksDelete",
        "x-mint": {
          "href": "/zh/api-reference/tasks/delete-task",
          "metadata": {
            "sidebarTitle": "删除 API 任务",
            "title": "删除 API 任务"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiTaskDeleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiVoidResponse"
                }
              }
            }
          }
        },
        "description": "删除任务记录。须 [`X-Idempotency-Key`](/zh/guides/idempotency)。见 [产品概览](/zh/guides/products/overview)。"
      }
    },
    "/openapi/v1/assets/material/upload/gen-upload-url": {
      "post": {
        "tags": [
          "资产 - 素材"
        ],
        "summary": "生成预签名上传 URL",
        "operationId": "materialGenUploadUrl",
        "x-mint": {
          "href": "/zh/api-reference/assets/materials/gen-upload-url",
          "metadata": {
            "sidebarTitle": "生成预签名上传 URL",
            "title": "生成预签名上传 URL"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMaterialFileHashRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiMaterialGenUploadUrlResponse"
                }
              }
            }
          }
        },
        "description": "单文件上传 **第 1 步**：获取预签名 PUT URL 与 `materialId`。向该 URL 上传文件后，调用 **完成单文件上传**。在 **创建翻译配音任务** 之前必须完成。见 [素材上传](/zh/guides/assets/material-upload)。"
      }
    },
    "/openapi/v1/assets/material/upload/complete": {
      "post": {
        "tags": [
          "资产 - 素材"
        ],
        "summary": "完成单文件上传",
        "operationId": "materialUploadComplete",
        "x-mint": {
          "href": "/zh/api-reference/assets/materials/complete-upload",
          "metadata": {
            "sidebarTitle": "完成单文件上传",
            "title": "完成单文件上传"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMaterialUploadCompleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiMaterialDtoResponse"
                }
              }
            }
          }
        },
        "description": "单文件上传 **第 3 步**：CDN PUT 后登记素材。须 [`X-Idempotency-Key`](/zh/guides/idempotency)。见 [素材上传](/zh/guides/assets/material-upload)。"
      }
    },
    "/openapi/v1/assets/material/upload/multipart/initiate": {
      "post": {
        "tags": [
          "资产 - 素材"
        ],
        "summary": "初始化分片上传",
        "operationId": "materialMultipartInitiate",
        "x-mint": {
          "href": "/zh/api-reference/assets/materials/multipart-initiate",
          "metadata": {
            "sidebarTitle": "初始化分片上传",
            "title": "初始化分片上传"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMaterialFileHashRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiMaterialMultipartInitiateResponse"
                }
              }
            }
          }
        },
        "description": "分片上传 **第 1 步**：发起上传并获取 `materialId` / `uploadId`。须 [`X-Idempotency-Key`](/zh/guides/idempotency)。见 [素材上传](/zh/guides/assets/material-upload)。"
      }
    },
    "/openapi/v1/assets/material/upload/multipart/presign-parts": {
      "post": {
        "tags": [
          "资产 - 素材"
        ],
        "summary": "为分片生成预签名 URL",
        "operationId": "materialMultipartPresign",
        "x-mint": {
          "href": "/zh/api-reference/assets/materials/multipart-presign-parts",
          "metadata": {
            "sidebarTitle": "为分片生成预签名 URL",
            "title": "为分片生成预签名 URL"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMaterialMultipartPresignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiMaterialMultipartPresignResponse"
                }
              }
            }
          }
        },
        "description": "分片上传 **第 2 步**：为每个分片获取预签名 URL。须 [`X-Idempotency-Key`](/zh/guides/idempotency)。见 [素材上传](/zh/guides/assets/material-upload)。"
      }
    },
    "/openapi/v1/assets/material/upload/multipart/complete": {
      "post": {
        "tags": [
          "资产 - 素材"
        ],
        "summary": "完成分片上传",
        "operationId": "materialMultipartComplete",
        "x-mint": {
          "href": "/zh/api-reference/assets/materials/multipart-complete",
          "metadata": {
            "sidebarTitle": "完成分片上传",
            "title": "完成分片上传"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMaterialMultipartCompleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiMaterialDtoResponse"
                }
              }
            }
          }
        },
        "description": "分片上传 **最后一步**：提交分片并登记素材。须 [`X-Idempotency-Key`](/zh/guides/idempotency)。见 [素材上传](/zh/guides/assets/material-upload)。"
      }
    },
    "/openapi/v1/assets/material/upload/multipart/abort": {
      "post": {
        "tags": [
          "资产 - 素材"
        ],
        "summary": "中止分片上传",
        "operationId": "materialMultipartAbort",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMaterialMultipartAbortRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiVoidResponse"
                }
              }
            }
          }
        },
        "description": "取消进行中的分片上传。须 [`X-Idempotency-Key`](/zh/guides/idempotency)。见 [素材上传](/zh/guides/assets/material-upload)。"
      }
    },
    "/openapi/v1/assets/material/list": {
      "get": {
        "tags": [
          "资产 - 素材"
        ],
        "summary": "素材列表",
        "operationId": "materialList",
        "x-mint": {
          "href": "/zh/api-reference/assets/materials/list-materials",
          "metadata": {
            "sidebarTitle": "素材列表",
            "title": "素材列表"
          }
        },
        "parameters": [
          {
            "name": "currentPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "页码（从 1 开始）"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "每页条数"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiMaterialListResponse"
                }
              }
            }
          }
        },
        "description": "分页列出为翻译配音任务上传的视频/音频。将 `materialId` 传入 **创建翻译配音任务**。见 [素材](/zh/guides/assets/materials)。"
      }
    },
    "/openapi/v1/assets/material/delete": {
      "post": {
        "tags": [
          "资产 - 素材"
        ],
        "summary": "删除素材",
        "operationId": "materialDelete",
        "x-mint": {
          "href": "/zh/api-reference/assets/materials/delete-material",
          "metadata": {
            "sidebarTitle": "删除素材",
            "title": "删除素材"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMaterialDeleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiVoidResponse"
                }
              }
            }
          }
        },
        "description": "逻辑删除素材。须 [`X-Idempotency-Key`](/zh/guides/idempotency)。见 [素材](/zh/guides/assets/materials)。"
      }
    },
    "/openapi/v1/assets/voice/basic/list": {
      "post": {
        "tags": [
          "资产 - 音色"
        ],
        "summary": "系统音色列表",
        "operationId": "voiceBasicList",
        "x-mint": {
          "href": "/zh/api-reference/assets/voices/list-system-voices",
          "metadata": {
            "sidebarTitle": "系统音色列表",
            "title": "系统音色列表"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiBasicVoiceListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiBasicVoiceListResponse"
                }
              }
            }
          }
        },
        "description": "列出 **合成语音** 可用的只读预设音色。从响应中选择 `voiceId`。见 [音色](/zh/guides/assets/voices)。"
      }
    },
    "/openapi/v1/assets/voice/clone/list": {
      "post": {
        "tags": [
          "资产 - 音色"
        ],
        "summary": "克隆音色列表",
        "operationId": "voiceCloneList",
        "x-mint": {
          "href": "/zh/api-reference/assets/voices/list-cloned-voices",
          "metadata": {
            "sidebarTitle": "克隆音色列表",
            "title": "克隆音色列表"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiCloneVoiceListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiCloneVoiceListResponse"
                }
              }
            }
          }
        },
        "description": "列出 [声音克隆](/zh/guides/products/voice-clone) 产生的克隆音色。见 [音色](/zh/guides/assets/voices)。"
      }
    },
    "/openapi/v1/assets/voice/clone/update": {
      "post": {
        "tags": [
          "资产 - 音色"
        ],
        "summary": "重命名克隆音色",
        "operationId": "voiceCloneUpdate",
        "x-mint": {
          "href": "/zh/api-reference/assets/voices/rename-cloned-voice",
          "metadata": {
            "sidebarTitle": "重命名克隆音色",
            "title": "重命名克隆音色"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiCloneVoiceUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiVoidResponse"
                }
              }
            }
          }
        },
        "description": "重命名克隆音色展示名。须 [`X-Idempotency-Key`](/zh/guides/idempotency)。见 [音色](/zh/guides/assets/voices)。"
      }
    },
    "/openapi/v1/assets/voice/clone/delete": {
      "post": {
        "tags": [
          "资产 - 音色"
        ],
        "summary": "删除克隆音色",
        "operationId": "voiceCloneDelete",
        "x-mint": {
          "href": "/zh/api-reference/assets/voices/delete-cloned-voice",
          "metadata": {
            "sidebarTitle": "删除克隆音色",
            "title": "删除克隆音色"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiCloneVoiceDeleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiVoidResponse"
                }
              }
            }
          }
        },
        "description": "逻辑删除克隆音色。须 [`X-Idempotency-Key`](/zh/guides/idempotency)。见 [音色](/zh/guides/assets/voices)。"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "在 **`Authorization`** 请求头中传入 API Key（`Bearer <api_key>`）。见 [鉴权](/zh/guides/authentication)。"
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "X-Idempotency-Key",
        "in": "header",
        "description": "创建任务或修改持久化数据的 `POST` 必填（最长 64 字符）。见 [幂等](/zh/guides/idempotency)。",
        "schema": {
          "type": "string",
          "maxLength": 64
        }
      },
      "IdempotencyKeyRequired": {
        "name": "X-Idempotency-Key",
        "in": "header",
        "required": true,
        "description": "创建任务或修改持久化数据的 `POST` 必填（最长 64 字符）。见 [幂等](/zh/guides/idempotency)。",
        "schema": {
          "type": "string",
          "maxLength": 64
        }
      },
      "CallbackTimestamp": {
        "name": "X-Timestamp",
        "in": "header",
        "required": true,
        "description": "Unix 时间戳（毫秒，字符串）",
        "schema": {
          "type": "string"
        }
      },
      "CallbackSignature": {
        "name": "X-Signature",
        "in": "header",
        "required": true,
        "description": "小写十六进制 HMAC-SHA256(secret, X-Timestamp + 原始请求体)",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "OpenApiResponseBase": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 200,
            "description": "业务码；200 表示成功"
          },
          "message": {
            "type": "string",
            "example": "",
            "description": "当 `code` 非成功时的说明信息"
          }
        },
        "required": [
          "code"
        ]
      },
      "OpenApiVoidResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "nullable": true,
                "description": "无业务数据时恒为 `null`"
              }
            }
          }
        ]
      },
      "OpenApiTaskType": {
        "type": "string",
        "description": "Open API 任务类型代码。媒体翻译创建请求的 `taskType` 请使用 `vt`（视频翻译）或 `at`（音频翻译）。",
        "enum": [
          "vt",
          "at",
          "tts",
          "cloneVoice",
          "textTranslation"
        ],
        "example": "vt"
      },
      "OpenApiTtsCreateRequest": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "provider": {
            "type": "string",
            "deprecated": true,
            "description": "已弃用 — 请勿传入。请在每行传入 `voiceId`。见 [文本转语音](/zh/guides/products/text-to-speech) 与 [支持的克隆方式](/zh/guides/supported-clone-methods#文本转语音voiceid-与组批规则)。"
          },
          "language": {
            "type": "object",
            "properties": {
              "target": {
                "type": "string",
                "example": "en-US",
                "description": "目标语言 locale（BCP-47）。见 [支持的语言](/zh/guides/supported-languages)。"
              }
            },
            "description": "合成目标语言"
          },
          "trim": {
            "type": "boolean",
            "default": false,
            "description": "为 `true` 时裁剪输出音频首尾静音"
          },
          "data": {
            "type": "array",
            "maxItems": 50,
            "items": {
              "$ref": "#/components/schemas/OpenApiTtsDataItem"
            },
            "description": "待合成文本（最多 50 条）。每条需 `text` 及 [音色](/zh/guides/assets/voices) 中的 `voiceId` 或 `timbreRefAudio`"
          },
          "outputFormat": {
            "type": "string",
            "enum": [
              "wav",
              "mp3",
              "m4a"
            ],
            "default": "m4a",
            "description": "输出音频格式：`wav`、`mp3` 或 `m4a`"
          }
        }
      },
      "OpenApiTtsCreateAsyncRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiTtsCreateRequest"
          },
          {
            "type": "object",
            "properties": {
              "extraData": {
                "$ref": "#/components/schemas/OpenApiExtraData"
              }
            }
          }
        ]
      },
      "OpenApiTtsDataItem": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "待合成文本"
          },
          "voiceId": {
            "type": "string",
            "description": "本行使用的系统或克隆音色 ID。见 [音色](/zh/guides/assets/voices)；也可改用 `timbreRefAudio`"
          },
          "timbreRefAudio": {
            "type": "string",
            "description": "未使用 [音色](/zh/guides/assets/voices) 中 `voiceId` 时的参考音频 URL（HTTPS）"
          },
          "emoWeight": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "情感强度，配合 `emoRefAudio` / `emoPrompt` 使用（0–1）"
          },
          "emoRefAudio": {
            "type": "string",
            "description": "用于情感或演绎风格的参考音频 URL（HTTPS）"
          },
          "emoPrompt": {
            "type": "string",
            "description": "描述期望情感或说话风格的文本提示"
          },
          "duration": {
            "type": "number",
            "description": "目标时长（秒）"
          }
        }
      },
      "OpenApiTtsResultItem": {
        "type": "object",
        "properties": {
          "uri": {
            "type": "string",
            "description": "合成音频 URL（HTTPS）"
          },
          "duration": {
            "type": "number",
            "description": "时长（秒）"
          },
          "errorMessage": {
            "type": "string",
            "description": "该条合成失败时的原因"
          }
        }
      },
      "OpenApiTtsCreateData": {
        "type": "object",
        "properties": {
          "taskId": {
            "type": "string",
            "description": "Open API 任务 ID"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiTtsResultItem"
            },
            "description": "合成结果条目"
          },
          "createdAt": {
            "type": "string",
            "description": "任务创建时间（ISO 8601）"
          }
        }
      },
      "OpenApiTaskAcceptedData": {
        "type": "object",
        "description": "异步提交后的立即响应（不含任务结果）",
        "required": [
          "taskId"
        ],
        "properties": {
          "taskId": {
            "type": "string",
            "description": "Open API 任务 ID，可用于轮询或关联"
          },
          "createdAt": {
            "type": "string",
            "description": "TTS 与文本翻译异步创建接口返回"
          }
        }
      },
      "OpenApiTaskAcceptedResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiTaskAcceptedData"
              }
            }
          }
        ]
      },
      "OpenApiTtsCreateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "description": "同步 HTTP 响应中返回的合成结果。",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OpenApiTtsCreateData"
                  }
                ]
              }
            }
          }
        ]
      },
      "OpenApiTranslateCreateRequest": {
        "type": "object",
        "required": [
          "language",
          "segments"
        ],
        "properties": {
          "language": {
            "type": "object",
            "required": [
              "source",
              "target"
            ],
            "properties": {
              "source": {
                "type": "string",
                "example": "zh-CN",
                "description": "源语言 locale（BCP-47）。见 [支持的语言](/zh/guides/supported-languages)。"
              },
              "target": {
                "type": "string",
                "example": "en-US",
                "description": "目标语言 locale（BCP-47）。见 [支持的语言](/zh/guides/supported-languages)。"
              }
            },
            "description": "翻译源语言与目标语言"
          },
          "segments": {
            "type": "array",
            "maxItems": 50,
            "items": {
              "$ref": "#/components/schemas/OpenApiTranslateSegment"
            },
            "description": "待翻译文本片段（最多 50 条）"
          },
          "options": {
            "$ref": "#/components/schemas/OpenApiTranslateOptions",
            "description": "可选翻译设置（上下文、场景、术语表、prompt）"
          }
        }
      },
      "OpenApiTranslateCreateAsyncRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiTranslateCreateRequest"
          },
          {
            "type": "object",
            "properties": {
              "extraData": {
                "$ref": "#/components/schemas/OpenApiExtraData"
              }
            }
          }
        ]
      },
      "OpenApiTranslateSpeakerGender": {
        "type": "string",
        "description": "翻译片段说话人性别",
        "enum": [
          "male",
          "female"
        ],
        "example": "male"
      },
      "OpenApiTranslateSegment": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "该片段的原文"
          },
          "gender": {
            "$ref": "#/components/schemas/OpenApiTranslateSpeakerGender",
            "description": "该片段说话人性别。枚举：`male` 或 `female`。"
          },
          "speaker": {
            "type": "string",
            "example": "Speaker A",
            "description": "多说话人场景下的说话人标识，便于保持人称与音色一致"
          },
          "locale": {
            "type": "string",
            "example": "zh-CN",
            "description": "当与 `language.source` 不同时的单句语言"
          },
          "context": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "单句邻句上下文，优先于 `options.sourceContext`；在 `provided_only` 且片段时间不连续时尤其有用"
          },
          "start": {
            "type": "number",
            "description": "该句在原文时间轴上的起始秒数；与 `end` 成对使用以标定时间区间"
          },
          "end": {
            "type": "number",
            "description": "该句在原文时间轴上的结束秒数；须与 `start` 同时提供且不小于 `start`"
          }
        }
      },
      "OpenApiTranslateOptions": {
        "type": "object",
        "description": "可选翻译设置",
        "properties": {
          "sourceContext": {
            "$ref": "#/components/schemas/OpenApiTranslateSourceContext",
            "description": "如何使用相邻原文语境；省略时默认为 `independent`"
          },
          "sceneCustomized": {
            "$ref": "#/components/schemas/OpenApiTranslateSceneCustomized",
            "description": "场景与表达风格提示"
          },
          "glossary": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "术语表（源词 → 首选译文）"
          },
          "prompt": {
            "type": "string",
            "description": "追加到翻译指令的自定义 prompt"
          },
          "skipMissingTranslationCheck": {
            "type": "boolean",
            "default": false,
            "description": "为 `true` 时跳过「每句均有译文」的校验"
          }
        }
      },
      "OpenApiTranslateSourceContext": {
        "type": "object",
        "description": "全局邻句上下文策略；优先级低于各句的 `context`",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "independent",
              "provided_only",
              "neighbor"
            ],
            "default": "independent",
            "description": "`independent` — 逐句独立翻译。`provided_only` — 使用各句 `context` 中提供的邻句。`neighbor` — 从按序排列的 segments 中按 `contextWindow` 自动取邻句"
          },
          "contextWindow": {
            "type": "integer",
            "minimum": 1,
            "maximum": 20,
            "default": 5,
            "description": "仅当 `mode` 为 `neighbor` 时生效：向前后各扩展的邻段条数（1–20）"
          }
        }
      },
      "OpenApiTranslateSceneCustomized": {
        "type": "object",
        "description": "按场景定制的翻译行为",
        "properties": {
          "scene": {
            "type": "string",
            "enum": [
              "video",
              "audio",
              "subtitle",
              "voiceover"
            ],
            "default": "video",
            "description": "供翻译模型判断的内容类型"
          },
          "allowStutter": {
            "type": "boolean",
            "default": true,
            "description": "译文中是否可保留原文中的口吃/重复等不流畅表达"
          }
        }
      },
      "OpenApiTranslateResultItem": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "译文"
          },
          "errorMessage": {
            "type": "string",
            "description": "该片段翻译失败时的原因"
          }
        }
      },
      "OpenApiTranslateCreateData": {
        "type": "object",
        "properties": {
          "taskId": {
            "type": "string",
            "description": "Open API 任务 ID"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiTranslateResultItem"
            },
            "description": "译文片段，与请求 segments 按索引对齐"
          },
          "createdAt": {
            "type": "string",
            "description": "任务创建时间（ISO 8601）"
          }
        }
      },
      "OpenApiTranslateCreateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "description": "同步 HTTP 响应中返回的译文片段。",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OpenApiTranslateCreateData"
                  }
                ]
              }
            }
          }
        ]
      },
      "OpenApiCloneVoiceCreateRequest": {
        "type": "object",
        "properties": {
          "voiceName": {
            "type": "string",
            "description": "克隆音色在资产库中的展示名称"
          },
          "provider": {
            "type": "string",
            "enum": [
              "V1",
              "V2",
              "V3",
              "V4",
              "V5"
            ],
            "example": "V1",
            "description": "克隆引擎（`V1`–`V5`）。见 [支持的克隆方式](/zh/guides/supported-clone-methods)。"
          },
          "refAudio": {
            "type": "string",
            "description": "参考音频 URL（HTTPS）"
          },
          "sampleLanguage": {
            "type": "string",
            "example": "zh-CN",
            "description": "样本语言 locale（BCP-47）。见 [支持的语言](/zh/guides/supported-languages)。"
          },
          "sampleText": {
            "type": "string",
            "description": "`refAudio` 的可选对照文本，有助于提升克隆质量"
          }
        }
      },
      "OpenApiCloneVoiceCreateAsyncRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiCloneVoiceCreateRequest"
          },
          {
            "type": "object",
            "properties": {
              "extraData": {
                "$ref": "#/components/schemas/OpenApiExtraData"
              }
            }
          }
        ]
      },
      "OpenApiCloneVoiceCreateData": {
        "type": "object",
        "properties": {
          "taskId": {
            "type": "string",
            "description": "Open API 任务 ID（异步克隆）"
          },
          "voiceId": {
            "type": "string",
            "description": "可用于 TTS 的新克隆音色 ID。见 [音色](/zh/guides/assets/voices)"
          },
          "createdAt": {
            "type": "string",
            "description": "任务创建时间（ISO 8601）"
          }
        }
      },
      "OpenApiCloneVoiceCreateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "description": "同步 HTTP 响应中返回的克隆结果。",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OpenApiCloneVoiceCreateData"
                  }
                ]
              }
            }
          }
        ]
      },
      "OpenApiMediaTranslationSource": {
        "type": "object",
        "required": [
          "materialId"
        ],
        "properties": {
          "materialId": {
            "type": "string",
            "description": "输入素材 ID。见 [素材](/zh/guides/assets/materials)（通过 [素材上传](/zh/guides/assets/material-upload) 获取）"
          }
        },
        "description": "本任务的输入素材"
      },
      "OpenApiMediaTranslationLanguage": {
        "type": "object",
        "required": [
          "target"
        ],
        "properties": {
          "source": {
            "type": "string",
            "default": "auto",
            "example": "auto",
            "description": "源语言（BCP-47）或 `auto` 自动检测。见 [支持的语言](/zh/guides/supported-languages)。"
          },
          "target": {
            "type": "string",
            "example": "zh-CN",
            "description": "目标语言 locale（BCP-47）。见 [支持的语言](/zh/guides/supported-languages)。"
          }
        },
        "description": "本地化源语言与目标语言"
      },
      "OpenApiMediaTranslationVoiceClone": {
        "type": "object",
        "description": "配音/音色克隆设置（`options` 内必填）",
        "properties": {
          "style": {
            "type": "string",
            "enum": [
              "emotional",
              "consistent"
            ],
            "default": "emotional",
            "description": "克隆风格：`emotional`（偏情绪表达）或 `consistent`（口音一致）"
          },
          "mode": {
            "type": "string",
            "enum": [
              "role",
              "mix",
              "sentence"
            ],
            "example": "role",
            "description": "多说话人下的音色分配方式"
          },
          "provider": {
            "type": "string",
            "enum": [
              "V1",
              "V2",
              "V3",
              "V4",
              "V5"
            ],
            "description": "克隆引擎（`V1`–`V5`）。见 [支持的克隆方式](/zh/guides/supported-clone-methods)。"
          }
        }
      },
      "OpenApiMediaTranslationTranscribe": {
        "type": "object",
        "description": "自动语音识别（ASR）设置",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "fast",
              "normal"
            ],
            "default": "fast",
            "description": "ASR 速度与时效的权衡"
          },
          "type": {
            "type": "string",
            "default": "default",
            "description": "ASR 配置档（省略时使用产品默认）"
          }
        }
      },
      "OpenApiMediaTranslationTranslate": {
        "type": "object",
        "description": "媒体流水线中的文本翻译步骤",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "default",
              "machine"
            ],
            "default": "default",
            "description": "`default` — 标准本地化。`machine` — 机器翻译模式"
          },
          "prompt": {
            "type": "string",
            "description": "翻译步骤的自定义 prompt"
          }
        }
      },
      "OpenApiMediaTranslationSeparation": {
        "type": "object",
        "description": "声源分离（人声与背景）",
        "properties": {
          "mode": {
            "type": "string",
            "default": "auto",
            "example": "auto",
            "description": "分离模式（如 `auto`）"
          }
        }
      },
      "OpenApiMediaTranslationDynamicVideoLength": {
        "type": "object",
        "description": "动态视频时长（视频翻译）",
        "properties": {
          "enable": {
            "type": "boolean",
            "description": "启用源片与配音成片的时长动态对齐"
          }
        }
      },
      "OpenApiMediaTranslationLipsync": {
        "type": "object",
        "description": "唇形同步（仅视频翻译；可能额外扣积分）。见 [计费](/zh/guides/pricing)",
        "properties": {
          "enable": {
            "type": "boolean",
            "default": false,
            "description": "对输出视频启用唇形同步"
          }
        }
      },
      "OpenApiMediaTranslationSelectedVoice": {
        "type": "object",
        "description": "为配音选定的系统或克隆音色",
        "properties": {
          "provider": {
            "type": "string",
            "example": "S1",
            "description": "选用系统预设音色时可附带档位代号（`S1`、`S2`、…）。克隆音色为 `V1`–`V5`。见 [音色](/zh/guides/assets/voices)。"
          },
          "voiceId": {
            "type": "string",
            "description": "音色 ID，来自 [系统音色列表](/zh/api-reference/assets/voices/list-system-voices) 或您的克隆音色"
          }
        }
      },
      "OpenApiMediaTranslationVoiceSpeakers": {
        "type": "object",
        "description": "配音说话人与音色配置",
        "properties": {
          "selectedVoicesList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiMediaTranslationSelectedVoice"
            },
            "description": "为各说话人槽位显式指定音色"
          },
          "speakerNum": {
            "type": "string",
            "example": "auto",
            "description": "检测的说话人数量（`auto` 或数字字符串）"
          },
          "timbreMethod": {
            "type": "string",
            "enum": [
              "clone",
              "smart"
            ],
            "example": "clone",
            "description": "`clone` — 从源音频克隆。`smart` — 智能匹配音色"
          }
        }
      },
      "OpenApiMediaTranslationOptions": {
        "type": "object",
        "required": [
          "voiceClone"
        ],
        "description": "流水线选项：配音、ASR、翻译、分离、唇形同步与字幕",
        "properties": {
          "voiceClone": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationVoiceClone"
          },
          "transcribe": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationTranscribe"
          },
          "translate": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationTranslate"
          },
          "separation": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationSeparation"
          },
          "dynamicVideoLength": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationDynamicVideoLength"
          },
          "lipsync": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationLipsync"
          },
          "text": {
            "type": "object",
            "additionalProperties": true,
            "description": "标题与字幕样式/烧录配置（产品结构，键值因产品而异）"
          },
          "voiceSpeakers": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationVoiceSpeakers"
          }
        }
      },
      "OpenApiMediaTranslationCreateRequest": {
        "type": "object",
        "required": [
          "taskType",
          "source",
          "language",
          "options"
        ],
        "properties": {
          "taskType": {
            "type": "string",
            "enum": [
              "vt",
              "at"
            ],
            "description": "vt = 视频翻译，at = 音频翻译。若 `at` 对应视频素材，任务可能按视频翻译执行"
          },
          "source": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationSource",
            "description": "本任务的输入素材"
          },
          "language": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationLanguage",
            "description": "本地化源语言与目标语言"
          },
          "options": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationOptions"
          },
          "extraData": {
            "$ref": "#/components/schemas/OpenApiExtraData",
            "description": "可选客户端元数据；完成时在 Webhook 中回传"
          }
        }
      },
      "OpenApiExtraData": {
        "type": "object",
        "additionalProperties": true,
        "description": "异步提交时的可选客户端元数据；任务完成时在 Webhook 回调体 `extraData` 中回显。同步创建接口不使用。"
      },
      "OpenApiMediaTranslationAcceptedData": {
        "type": "object",
        "description": "音视频翻译异步创建的立即响应（不含交付物）",
        "required": [
          "taskId"
        ],
        "properties": {
          "taskId": {
            "type": "string",
            "description": "Open API 任务 ID"
          },
          "taskType": {
            "$ref": "#/components/schemas/OpenApiTaskType",
            "description": "实际执行的任务类型（音频素材可能按视频翻译处理，可与请求不同）"
          },
          "status": {
            "type": "string",
            "enum": [
              "running",
              "failed",
              "finished"
            ],
            "example": "running",
            "description": "受理后的任务状态（`running`、`failed` 或 `finished`）"
          },
          "createdAt": {
            "type": "string",
            "description": "任务创建时间（ISO 8601）"
          }
        }
      },
      "OpenApiMediaTranslationAcceptedResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiMediaTranslationAcceptedData"
              }
            }
          }
        ]
      },
      "OpenApiMediaTranslationCallbackData": {
        "type": "object",
        "description": "Webhook 中 `event` 为 `openapi-media-translation` 时，`data` 内的任务载荷（`data.result` 含 CDN 交付物）。",
        "properties": {
          "taskId": {
            "type": "string",
            "description": "Open API 任务 ID"
          },
          "taskType": {
            "$ref": "#/components/schemas/OpenApiTaskType"
          },
          "status": {
            "type": "string",
            "enum": [
              "running",
              "failed",
              "finished"
            ],
            "description": "最终任务状态（`finished` 或 `failed`）"
          },
          "result": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationCustomerResult",
            "description": "固定结构的交付结果（URL 已转换为可直接访问的 HTTPS/CDN，并移除内部字段）。"
          }
        }
      },
      "OpenApiMediaTranslationCustomerResult": {
        "type": "object",
        "description": "媒体翻译对客结果（固定结构）。CDN URL 为 HTTPS。",
        "properties": {
          "compress": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/OpenApiMediaTranslationMediaFile"
            },
            "description": "转码/压缩结果（key 为 480p/360p 等档位）。"
          },
          "asrScripts": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationAsrScripts"
          },
          "audioSeparation": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationAudioSeparation"
          },
          "translatedScripts": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationTranslatedScripts"
          },
          "voiceClone": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationVoiceCloneResult"
          },
          "voiceMatch": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiMediaTranslationVoiceMatch"
            },
            "description": "说话人与音色匹配列表。"
          },
          "tts": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationTtsResult"
          },
          "alignment": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationAlignment"
          },
          "build": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationBuild"
          }
        }
      },
      "OpenApiMediaTranslationMediaFile": {
        "type": "object",
        "description": "媒体文件（视频/音频/图片）。",
        "properties": {
          "url": {
            "type": "string",
            "description": "CDN URL（HTTPS）。"
          },
          "duration": {
            "type": "number",
            "description": "时长（秒）。"
          },
          "size": {
            "type": "integer",
            "format": "int64",
            "description": "文件大小（字节）。"
          },
          "resolution": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationResolution"
          },
          "fps": {
            "type": "integer",
            "description": "帧率（FPS，适用时）。"
          }
        }
      },
      "OpenApiMediaTranslationResolution": {
        "type": "object",
        "properties": {
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          }
        }
      },
      "OpenApiMediaTranslationAsrScripts": {
        "type": "object",
        "description": "ASR 脚本汇总（已裁剪）。",
        "properties": {
          "asrResults": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiMediaTranslationAsrResultLine"
            }
          },
          "monoAudio": {
            "type": "string",
            "description": "单声道音频 URL（HTTPS）。"
          },
          "speakerNum": {
            "type": "integer",
            "description": "检测到的说话人数。"
          },
          "language": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationLanguagePair"
          },
          "category": {
            "type": "string"
          },
          "industry": {
            "type": "string"
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ctcEnabled": {
            "type": "boolean"
          }
        }
      },
      "OpenApiMediaTranslationLanguagePair": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "OpenApiMediaTranslationAsrResultLine": {
        "type": "object",
        "properties": {
          "speaker": {
            "type": "string"
          },
          "start": {
            "type": "number"
          },
          "end": {
            "type": "number"
          },
          "text": {
            "type": "string"
          },
          "locale": {
            "type": "string"
          },
          "emotion": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "age": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "textWithBracket": {
            "type": "string"
          },
          "textWithBreak": {
            "type": "string"
          }
        }
      },
      "OpenApiMediaTranslationAudioSeparation": {
        "type": "object",
        "description": "音频分离结果（CDN URL）。",
        "properties": {
          "sfxUrl": {
            "type": "string"
          },
          "musicUrl": {
            "type": "string"
          },
          "vocalUrl": {
            "type": "string"
          },
          "speechUrl": {
            "type": "string"
          },
          "otherUrl": {
            "type": "string"
          },
          "mnsUrl": {
            "type": "string"
          }
        }
      },
      "OpenApiMediaTranslationTranslatedScripts": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiMediaTranslationTranslatedScriptLine"
            }
          }
        }
      },
      "OpenApiMediaTranslationTranslatedScriptLine": {
        "type": "object",
        "properties": {
          "start": {
            "type": "number"
          },
          "end": {
            "type": "number"
          },
          "sourceText": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "speaker": {
            "type": "string"
          },
          "locale": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "voiceId": {
            "type": "string"
          },
          "provider": {
            "type": "string",
            "description": "该句使用的音色档位 — 预设 `S1`、`S2`、… 或克隆 `V1`–`V5`。改句或再次提交时请与 `voiceId` 一并保存。见 [音色](/zh/guides/assets/voices)。"
          },
          "speakerDisplayName": {
            "type": "string"
          },
          "emotion": {
            "type": "string"
          },
          "age": {
            "type": "string"
          },
          "sourceSyllable": {
            "type": "integer"
          },
          "targetSyllable": {
            "type": "integer"
          },
          "mode": {
            "type": "string"
          }
        }
      },
      "OpenApiMediaTranslationVoiceCloneResult": {
        "type": "object",
        "description": "声音克隆配置（入参 + 回显出参）。",
        "properties": {
          "provider": {
            "type": "string",
            "description": "克隆引擎（`V1`–`V5`）。见 [支持的克隆方式](/zh/guides/supported-clone-methods)。"
          },
          "mode": {
            "type": "string"
          },
          "refAudio": {
            "type": "string",
            "description": "参考音频 URL（HTTPS）。"
          }
        }
      },
      "OpenApiMediaTranslationVoiceMatch": {
        "type": "object",
        "properties": {
          "speaker": {
            "type": "string"
          },
          "voiceId": {
            "type": "string"
          },
          "provider": {
            "type": "string",
            "description": "克隆引擎（`V1`–`V5`）。见 [支持的克隆方式](/zh/guides/supported-clone-methods)。"
          },
          "exampleLanguage": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "audio": {
            "type": "string",
            "description": "示例音频 URL（HTTPS）。"
          }
        }
      },
      "OpenApiMediaTranslationTtsResult": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiMediaTranslationTtsLine"
            }
          }
        }
      },
      "OpenApiMediaTranslationTtsLine": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "ttsFile": {
            "type": "string",
            "description": "TTS 音频 URL（HTTPS）。"
          },
          "provider": {
            "type": "string",
            "description": "该句使用的音色档位 — 预设 `S1`、`S2`、… 或克隆 `V1`–`V5`。改句或再次提交时请与 `voiceId` 一并保存。见 [音色](/zh/guides/assets/voices)。"
          },
          "voiceId": {
            "type": "string"
          },
          "duration": {
            "type": "integer",
            "format": "int64"
          },
          "cloneMode": {
            "type": "string"
          }
        }
      },
      "OpenApiMediaTranslationAlignment": {
        "type": "object",
        "properties": {
          "audio": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiMediaTranslationAlignmentTrack"
            }
          },
          "subtitle": {
            "type": "array",
            "items": {}
          },
          "video": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiMediaTranslationAlignmentTrack"
            }
          }
        }
      },
      "OpenApiMediaTranslationAlignmentTrack": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "description": "轨道文件 URL（HTTPS）。"
          },
          "templateId": {
            "type": "integer"
          },
          "tracksTimes": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "timeRange": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "volumeScale": {
            "type": "number"
          }
        }
      },
      "OpenApiMediaTranslationBuild": {
        "type": "object",
        "description": "最终构建产物（CDN URL）。",
        "properties": {
          "video": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationMediaFile"
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiMediaTranslationImageFile"
            }
          },
          "audio": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationAudioFile"
          }
        }
      },
      "OpenApiMediaTranslationImageFile": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "format": "int64"
          },
          "resolution": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationResolution"
          }
        }
      },
      "OpenApiMediaTranslationAudioFile": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "duration": {
            "type": "number"
          },
          "size": {
            "type": "integer",
            "format": "int64"
          },
          "fps": {
            "type": "integer"
          }
        }
      },
      "OpenApiTaskSummary": {
        "type": "object",
        "properties": {
          "taskId": {
            "type": "string",
            "description": "Open API 任务 ID"
          },
          "taskType": {
            "$ref": "#/components/schemas/OpenApiTaskType"
          },
          "status": {
            "type": "string",
            "description": "任务状态"
          },
          "createdAt": {
            "type": "string",
            "description": "任务创建时间（ISO 8601）"
          },
          "updatedAt": {
            "type": "string",
            "description": "最近更新时间（ISO 8601）"
          }
        }
      },
      "OpenApiTaskListData": {
        "type": "object",
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiTaskSummary"
            },
            "description": "本页任务列表"
          },
          "total": {
            "type": "integer",
            "format": "int64",
            "description": "符合筛选条件的任务总数"
          }
        }
      },
      "OpenApiTaskDetailData": {
        "type": "object",
        "properties": {
          "taskId": {
            "type": "string",
            "description": "Open API 任务 ID"
          },
          "taskType": {
            "$ref": "#/components/schemas/OpenApiTaskType"
          },
          "status": {
            "type": "string",
            "description": "当前任务状态"
          },
          "result": {
            "type": "object",
            "description": "任务相关结果（结构因 taskType 而异）",
            "additionalProperties": true
          }
        }
      },
      "OpenApiTaskListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiTaskListData"
              }
            }
          }
        ]
      },
      "OpenApiTaskDetailResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiTaskDetailData"
              }
            }
          }
        ]
      },
      "OpenApiTaskDeleteRequest": {
        "type": "object",
        "required": [
          "taskId"
        ],
        "properties": {
          "taskId": {
            "type": "string",
            "description": "要删除的任务 ID"
          }
        }
      },
      "OpenApiMaterialFileHashRequest": {
        "type": "object",
        "required": [
          "fileHash",
          "fileName"
        ],
        "properties": {
          "fileHash": {
            "type": "string",
            "description": "文件 MD5"
          },
          "fileName": {
            "type": "string",
            "description": "文件名（含扩展名）"
          }
        }
      },
      "OpenApiMaterialUploadCompleteRequest": {
        "type": "object",
        "required": [
          "s3Uri",
          "fileName",
          "materialId",
          "fileHash"
        ],
        "properties": {
          "s3Uri": {
            "type": "string",
            "description": "上传目标 URI（由获取预签名 URL 或分片初始化返回）"
          },
          "fileName": {
            "type": "string",
            "description": "原始文件名（含扩展名）"
          },
          "materialId": {
            "type": "string",
            "description": "预签名上传返回的素材 ID。见 [素材](/zh/guides/assets/materials)"
          },
          "fileHash": {
            "type": "string",
            "description": "上传文件的 MD5（须与上传请求一致）"
          }
        }
      },
      "OpenApiMaterialMultipartPresignRequest": {
        "type": "object",
        "properties": {
          "materialId": {
            "type": "string",
            "description": "分片初始化返回的素材 ID。见 [素材](/zh/guides/assets/materials)"
          },
          "uploadId": {
            "type": "string",
            "description": "分片初始化返回的上传会话 ID"
          },
          "fileHash": {
            "type": "string",
            "description": "完整文件的 MD5"
          },
          "fileName": {
            "type": "string",
            "description": "原始文件名（含扩展名）"
          },
          "partNumbers": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "待预签名的分片序号（1–10000）"
          }
        }
      },
      "OpenApiMaterialMultipartCompletePart": {
        "type": "object",
        "properties": {
          "partNumber": {
            "type": "integer",
            "description": "分片序号（从 1 开始）"
          },
          "eTag": {
            "type": "string",
            "description": "分片 PUT 响应中的 ETag"
          }
        }
      },
      "OpenApiMaterialMultipartCompleteRequest": {
        "type": "object",
        "properties": {
          "materialId": {
            "type": "string",
            "description": "分片初始化返回的素材 ID。见 [素材](/zh/guides/assets/materials)"
          },
          "uploadId": {
            "type": "string",
            "description": "分片上传会话 ID"
          },
          "fileHash": {
            "type": "string",
            "description": "完整文件的 MD5"
          },
          "fileName": {
            "type": "string",
            "description": "原始文件名（含扩展名）"
          },
          "parts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiMaterialMultipartCompletePart"
            },
            "description": "已上传分片列表，含每片的 `partNumber` 与 PUT 返回的 `eTag`"
          }
        }
      },
      "OpenApiMaterialMultipartAbortRequest": {
        "type": "object",
        "properties": {
          "materialId": {
            "type": "string",
            "description": "分片初始化返回的素材 ID。见 [素材](/zh/guides/assets/materials)"
          },
          "uploadId": {
            "type": "string",
            "description": "要中止的分片上传会话 ID"
          },
          "fileHash": {
            "type": "string",
            "description": "文件 MD5（须与初始化请求一致）"
          },
          "fileName": {
            "type": "string",
            "description": "原始文件名（含扩展名）"
          }
        }
      },
      "OpenApiMaterialDeleteRequest": {
        "type": "object",
        "properties": {
          "materialId": {
            "type": "string",
            "description": "要删除的素材 ID。见 [素材](/zh/guides/assets/materials)"
          }
        }
      },
      "OpenApiMaterialDto": {
        "type": "object",
        "properties": {
          "materialId": {
            "type": "string",
            "description": "素材 ID。见 [素材](/zh/guides/assets/materials)"
          },
          "category": {
            "type": "string",
            "example": "video",
            "description": "素材类型"
          },
          "name": {
            "type": "string",
            "description": "Display file name"
          },
          "addressUrl": {
            "type": "string",
            "description": "主文件 CDN URL"
          },
          "thumbnailUrl": {
            "type": "string",
            "description": "缩略图 CDN URL"
          },
          "audioUrl": {
            "type": "string",
            "description": "分离音轨 CDN URL"
          },
          "resolution": {
            "type": "string",
            "example": "1920x1080",
            "description": "视频分辨率（如适用，例如 `1920x1080`）"
          },
          "mimeType": {
            "type": "string",
            "description": "主文件的 MIME 类型"
          },
          "fileHash": {
            "type": "string",
            "description": "主文件 MD5"
          },
          "filesize": {
            "type": "integer",
            "format": "int64",
            "description": "文件大小（字节）"
          },
          "duration": {
            "type": "integer",
            "format": "int64",
            "description": "时长（毫秒）"
          },
          "createTime": {
            "type": "string",
            "description": "注册时间（ISO 8601）"
          },
          "updateTime": {
            "type": "string",
            "description": "最近更新时间（ISO 8601）"
          }
        }
      },
      "OpenApiMaterialGenUploadUrlData": {
        "type": "object",
        "properties": {
          "uploadUrl": {
            "type": "string",
            "description": "预签名 PUT URL；秒传时为空"
          },
          "material": {
            "$ref": "#/components/schemas/OpenApiMaterialDto",
            "description": "文件已存在（秒传）时返回"
          },
          "s3Uri": {
            "type": "string",
            "description": "上传目标 URI（传给完成上传接口）"
          },
          "materialId": {
            "type": "string",
            "description": "本次上传的素材 ID。见 [素材](/zh/guides/assets/materials)"
          }
        }
      },
      "OpenApiMaterialMultipartInitiateData": {
        "type": "object",
        "properties": {
          "materialId": {
            "type": "string",
            "description": "本次分片上传的素材 ID。见 [素材](/zh/guides/assets/materials)"
          },
          "s3Uri": {
            "type": "string",
            "description": "上传目标 URI，完成上传时需回传"
          },
          "uploadId": {
            "type": "string",
            "description": "分片上传会话 ID"
          },
          "expiresInSeconds": {
            "type": "integer",
            "format": "int64",
            "description": "预签名 URL 有效秒数"
          },
          "recommendedPartSize": {
            "type": "integer",
            "format": "int64",
            "description": "建议分片大小（字节；除最后一片外通常不少于 5 MB）"
          }
        }
      },
      "OpenApiMaterialMultipartPresignPartUrl": {
        "type": "object",
        "properties": {
          "partNumber": {
            "type": "integer",
            "description": "分片序号（从 1 开始）"
          },
          "url": {
            "type": "string",
            "description": "该分片的预签名 PUT URL"
          }
        }
      },
      "OpenApiMaterialMultipartPresignData": {
        "type": "object",
        "properties": {
          "urls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiMaterialMultipartPresignPartUrl"
            },
            "description": "所请求分片的预签名 PUT URL 列表"
          },
          "expiresInSeconds": {
            "type": "integer",
            "format": "int64",
            "description": "上述 URL 有效秒数"
          }
        }
      },
      "OpenApiMaterialListData": {
        "type": "object",
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiMaterialDto"
            },
            "description": "本页素材列表"
          },
          "total": {
            "type": "integer",
            "format": "int64",
            "description": "符合筛选条件的素材总数"
          }
        }
      },
      "OpenApiMaterialGenUploadUrlResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiMaterialGenUploadUrlData"
              }
            }
          }
        ]
      },
      "OpenApiMaterialMultipartInitiateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiMaterialMultipartInitiateData"
              }
            }
          }
        ]
      },
      "OpenApiMaterialMultipartPresignResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiMaterialMultipartPresignData"
              }
            }
          }
        ]
      },
      "OpenApiMaterialDtoResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiMaterialDto"
              }
            }
          }
        ]
      },
      "OpenApiMaterialListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiMaterialListData"
              }
            }
          }
        ]
      },
      "OpenApiBasicVoiceDto": {
        "type": "object",
        "properties": {
          "voiceId": {
            "type": "string",
            "description": "系统预设音色 ID。见 [音色](/zh/guides/assets/voices)"
          },
          "localName": {
            "type": "string",
            "description": "本地化名称"
          },
          "displayName": {
            "type": "string",
            "description": "音色选择器中的展示名"
          },
          "locale": {
            "type": "string",
            "example": "en-US",
            "description": "该预设的主 locale（BCP-47）"
          },
          "localeName": {
            "type": "string",
            "description": "locale 的可读名称"
          },
          "provider": {
            "type": "string",
            "description": "预设档位代号（`S1`–`S7`）。见 [支持的克隆方式](/zh/guides/supported-clone-methods)。"
          },
          "gender": {
            "type": "string",
            "description": "性别标签（如 male、female）"
          },
          "style": {
            "type": "string",
            "description": "说话风格标签"
          },
          "rolePlay": {
            "type": "string",
            "description": "角色扮演/人设标签"
          },
          "description": {
            "type": "string",
            "description": "Marketing or catalog description"
          },
          "personalities": {
            "type": "string",
            "description": "人格标签（逗号分隔）"
          },
          "personalityList": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "人格标签列表"
          },
          "scenarios": {
            "type": "string",
            "description": "推荐使用场景标签"
          },
          "scenarioList": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "场景标签列表"
          },
          "isHd": {
            "type": "integer",
            "description": "高清音色时为 `1`"
          },
          "isPreferred": {
            "type": "integer",
            "description": "目录中标记为优选时为 `1`"
          },
          "score": {
            "type": "number",
            "description": "列表排序得分"
          },
          "cover": {
            "type": "string",
            "description": "封面图 URL（HTTPS）。请原样使用 API 返回的地址。"
          },
          "audio": {
            "type": "string",
            "description": "试听音频 URL（HTTPS）。请原样使用 API 返回的地址。"
          },
          "createTime": {
            "type": "string",
            "description": "记录创建时间"
          },
          "updateTime": {
            "type": "string",
            "description": "记录最近更新时间"
          }
        }
      },
      "OpenApiCloneVoiceDto": {
        "type": "object",
        "properties": {
          "voiceId": {
            "type": "string",
            "description": "克隆音色 ID。见 [音色](/zh/guides/assets/voices)"
          },
          "name": {
            "type": "string",
            "description": "Display name of the clone"
          },
          "provider": {
            "type": "string",
            "description": "克隆引擎（`V1`–`V5`）。见 [支持的克隆方式](/zh/guides/supported-clone-methods)。"
          },
          "exampleLanguage": {
            "type": "string",
            "description": "样本语言 locale（BCP-47）"
          },
          "content": {
            "type": "string",
            "description": "与克隆关联的样本文本或转写"
          },
          "audio": {
            "type": "string",
            "description": "样本或参考音频 URL"
          },
          "taskId": {
            "type": "string",
            "description": "创建该音色的克隆任务 ID"
          },
          "createTime": {
            "type": "string",
            "description": "记录创建时间"
          },
          "updateTime": {
            "type": "string",
            "description": "记录最近更新时间"
          }
        }
      },
      "OpenApiBasicVoiceListData": {
        "type": "object",
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiBasicVoiceDto"
            },
            "description": "本页音色列表"
          },
          "total": {
            "type": "integer",
            "format": "int64",
            "description": "符合筛选条件的音色总数"
          }
        }
      },
      "OpenApiCloneVoiceListData": {
        "type": "object",
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiCloneVoiceDto"
            },
            "description": "本页克隆音色列表"
          },
          "total": {
            "type": "integer",
            "format": "int64",
            "description": "符合筛选条件的克隆音色总数"
          }
        }
      },
      "OpenApiBasicVoiceListRequest": {
        "type": "object",
        "properties": {
          "voiceId": {
            "type": "string",
            "description": "按系统预设 `voiceId` 筛选。见 [音色](/zh/guides/assets/voices)"
          },
          "searchName": {
            "type": "string",
            "description": "按展示名或本地化名称搜索"
          },
          "locale": {
            "type": "string",
            "example": "en-US",
            "description": "按 locale（BCP-47）筛选。见 [支持的语言](/zh/guides/supported-languages)"
          },
          "age": {
            "type": "string",
            "description": "young / adult / senior"
          },
          "gender": {
            "type": "string",
            "description": "按性别筛选"
          },
          "quality": {
            "type": "string",
            "description": "any / high"
          },
          "category": {
            "type": "string",
            "description": "按音色分类筛选"
          },
          "emotionPrompt": {
            "type": "string",
            "description": "exclude / include"
          },
          "topIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "将这些系统预设 `voiceId` 置顶。见 [音色](/zh/guides/assets/voices)"
          },
          "currentPage": {
            "type": "integer",
            "default": 1,
            "description": "页码（从 1 开始）"
          },
          "pageSize": {
            "type": "integer",
            "default": 10,
            "description": "每页条数"
          },
          "orderBy": {
            "type": "string",
            "description": "voiceId / score / create_time / update_time / is_preferred"
          },
          "order": {
            "type": "string",
            "default": "desc",
            "description": "排序方向：`asc` 或 `desc`"
          }
        }
      },
      "OpenApiBasicVoiceListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiBasicVoiceListData"
              }
            }
          }
        ]
      },
      "OpenApiCloneVoiceListRequest": {
        "type": "object",
        "properties": {
          "voiceId": {
            "type": "string",
            "description": "按克隆 `voiceId` 筛选。见 [音色](/zh/guides/assets/voices)"
          },
          "voiceIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "按克隆 `voiceId` 列表筛选。见 [音色](/zh/guides/assets/voices)"
          },
          "searchName": {
            "type": "string",
            "description": "按克隆音色名称搜索"
          },
          "currentPage": {
            "type": "integer",
            "default": 1,
            "description": "页码（从 1 开始）"
          },
          "pageSize": {
            "type": "integer",
            "default": 10,
            "description": "每页条数"
          },
          "orderBy": {
            "type": "string",
            "description": "voiceId / name / create_time / update_time"
          },
          "order": {
            "type": "string",
            "default": "desc",
            "description": "排序方向：`asc` 或 `desc`"
          }
        }
      },
      "OpenApiCloneVoiceListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiCloneVoiceListData"
              }
            }
          }
        ]
      },
      "OpenApiCloneVoiceUpdateRequest": {
        "type": "object",
        "properties": {
          "voiceId": {
            "type": "string",
            "description": "要重命名的克隆 `voiceId`。见 [音色](/zh/guides/assets/voices)"
          },
          "voiceName": {
            "type": "string",
            "description": "新的展示名称"
          }
        }
      },
      "OpenApiCloneVoiceDeleteRequest": {
        "type": "object",
        "properties": {
          "voiceId": {
            "type": "string",
            "description": "要删除的克隆 `voiceId`。见 [音色](/zh/guides/assets/voices)"
          }
        }
      },
      "OpenApiCallbackEnvelope": {
        "type": "object",
        "description": "异步任务完成时 Webhook POST 的公共顶层字段。`event` 取值与各产品说明见 [Webhook 请求体](/zh/guides/webhook-request)。",
        "properties": {
          "code": {
            "type": "integer",
            "example": 200,
            "description": "本次投递的业务结果码"
          },
          "version": {
            "type": "string",
            "example": "v1",
            "description": "任务的 API 版本号（如 `v1`、`v2`），与请求路径中的版本一致（如 `/openapi/v1/...`）。"
          },
          "event": {
            "type": "string",
            "enum": [
              "openapi-tts",
              "openapi-translate",
              "openapi-clone-voice",
              "openapi-media-translation"
            ],
            "example": "openapi-tts",
            "description": "已完成的产品类型。请按此值路由：`openapi-tts`（TTS）、`openapi-translate`（文本翻译）、`openapi-clone-voice`（声音克隆）、`openapi-media-translation`（音视频翻译）。详见 [Webhook 请求体](/zh/guides/webhook-request)。"
          },
          "pipelineKey": {
            "type": "string",
            "example": "a1b2c3d4e5f6789012345678901234ab",
            "description": "该次异步完成的稳定标识。请用此字段对接收端去重 — 见 [Webhook 请求体](/zh/guides/webhook-request#按-pipelinekey-去重)。"
          },
          "message": {
            "type": "string",
            "description": "当 `code` 非成功时的说明"
          },
          "extraData": {
            "type": "object",
            "additionalProperties": true,
            "description": "与异步提交请求中的 `extraData` 一致"
          }
        }
      },
      "OpenApiTtsTaskCompletedCallback": {
        "description": "`event` 为 `openapi-tts` 时的 TTS Webhook **请求体**；`data` 含 `results`、`taskId`。见 [Webhook 请求体](/zh/guides/webhook-request) 与 [创建 TTS（异步）](/zh/api-reference/tts/create-tts-async) → **Callbacks**。",
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiCallbackEnvelope"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "description": "`event` 为 `openapi-tts` 时的产品结果；`data` 含 `results`、`taskId`。",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OpenApiTtsCreateData"
                  }
                ]
              }
            }
          }
        ]
      },
      "OpenApiTranslateTaskCompletedCallback": {
        "description": "`event` 为 `openapi-translate` 时的文本翻译 Webhook **请求体**；`data.items` 与请求 segments 按序对应。",
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiCallbackEnvelope"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "description": "`event` 为 `openapi-translate` 时的翻译结果（`data.items`）。",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OpenApiTranslateCreateData"
                  }
                ]
              }
            }
          }
        ]
      },
      "OpenApiCloneVoiceTaskCompletedCallback": {
        "description": "`event` 为 `openapi-clone-voice` 时的克隆 Webhook **请求体**；成功时 `data` 含 `voiceId` 等。",
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiCallbackEnvelope"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "description": "`event` 为 `openapi-clone-voice` 时的克隆结果（含 `voiceId` 等）。",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OpenApiCloneVoiceCreateData"
                  }
                ]
              }
            }
          }
        ]
      },
      "OpenApiMediaTranslationTaskCompletedCallback": {
        "description": "`event` 为 `openapi-media-translation` 时的媒体翻译 Webhook **请求体**；`data.result` 为 CDN 交付物。",
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiCallbackEnvelope"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiMediaTranslationCallbackData"
              }
            }
          }
        ]
      }
    }
  }
}
