{
  "openapi": "3.1.0",
  "info": {
    "title": "VMEG Open API",
    "description": "Integrate VMEG into your product: translate and dub video or audio, synthesize speech, clone voices, translate plain text, and manage API-side files. All responses use `{ code, message, data }`; `code === 200` means success.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.vmeg.ai",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Media translation",
      "x-group": "Video & audio translate and dub",
      "description": "Localize uploaded video or audio end-to-end: transcribe speech, translate the script, generate AI dubbing (cloned or preset voices), and return new dubbed media. Optional subtitles and lip sync. **Async only** — dubbed files arrive via [Webhook](/guides/webhooks). This is not plain text translation; see [Media translation](/guides/products/media-translation)."
    },
    {
      "name": "TTS",
      "x-group": "Text to speech (TTS)",
      "description": "Turn text into natural speech with preset or cloned voices. **Sync** returns audio URLs in the HTTP response; **async** delivers results via [Webhook](/guides/webhooks). See [Text to speech](/guides/products/text-to-speech)."
    },
    {
      "name": "Voice clone",
      "x-group": "Voice cloning",
      "description": "Create a reusable voice from a short reference recording. Returns a `voiceId` you can pass to TTS or translate-and-dub jobs. See [Voice clone](/guides/products/voice-clone)."
    },
    {
      "name": "Text translation",
      "x-group": "Text translation (text only)",
      "description": "Translate plain text segments — no audio or video processing. For spoken content in media files, use **Video & audio translate and dub** instead. See [Text translation](/guides/products/text-translation)."
    },
    {
      "name": "Task management",
      "x-group": "Task status and history",
      "description": "List, inspect, or delete jobs created through any product API. Poll `GET .../tasks/detail` when you cannot rely on webhooks. Scoped to your **API Key**. See [Products overview](/guides/products/overview)."
    },
    {
      "name": "Assets - Materials",
      "x-group": "Upload files (materials)",
      "description": "Upload and manage video/audio files used as input for translate-and-dub jobs. Flow: finish the full upload (presigned or multipart → register) → pass the registered `materialId` to create-async. See [Material upload](/guides/assets/material-upload)."
    },
    {
      "name": "Assets - Voices",
      "x-group": "Voices (presets and clones)",
      "description": "List preset voices for TTS, or manage voices you cloned. Cloned voices are created via **Voice cloning**. See [Voices](/guides/assets/voices)."
    }
  ],
  "paths": {
    "/openapi/v1/task/tts/create": {
      "post": {
        "tags": [
          "TTS"
        ],
        "summary": "Synthesize speech (sync)",
        "description": "Convert text to speech in one request. Audio URLs are returned immediately in the HTTP `data` payload — no webhook required.",
        "operationId": "ttsCreateSync",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiTtsCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiTtsCreateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/task/tts/create-async": {
      "post": {
        "tags": [
          "TTS"
        ],
        "summary": "Synthesize speech (async)",
        "description": "Submit a long or batch TTS job. The HTTP response only confirms acceptance (`taskId`). Finished audio arrives in your [Webhook](/guides/webhooks) callback (`event`: `openapi-tts`).",
        "operationId": "ttsCreateAsync",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiTtsCreateAsyncRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acceptance only (`taskId`, `createdAt`). Final results are in the [Webhook](/guides/webhooks) callback request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiTaskAcceptedResponse"
                }
              }
            }
          }
        },
        "callbacks": {
          "taskCompleted": {
            "https://{yourWebhookUrl}": {
              "post": {
                "summary": "Webhook when async task finishes (`event`: `openapi-tts`)",
                "description": "HTTP **request body** VMEG POSTs to your [Webhook](/guides/webhooks) URL when a Text to speech async task finishes. The JSON field `event` is `openapi-tts` (see [Webhook request body](/guides/webhook-request)). Not part of the create-async **Response** above. Full schema: [Create TTS (async)](/api-reference/tts/create-tts-async) → **Callbacks**.",
                "parameters": [
                  {
                    "$ref": "#/components/parameters/CallbackTimestamp"
                  },
                  {
                    "$ref": "#/components/parameters/CallbackSignature"
                  }
                ],
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/OpenApiTtsTaskCompletedCallback"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Return 2xx promptly to stop retries"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/task/translate/create": {
      "post": {
        "tags": [
          "Text translation"
        ],
        "summary": "Translate text segments (sync)",
        "operationId": "translateCreateSync",
        "x-mint": {
          "href": "/api-reference/text-translation/create-text-translation-sync",
          "metadata": {
            "sidebarTitle": "Translate text (sync)",
            "title": "Translate text segments (sync)"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiTranslateCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiTranslateCreateResponse"
                }
              }
            }
          }
        },
        "description": "Translate plain text segments in one request. Translated strings are returned immediately in the HTTP `data` payload. Does **not** process video or audio — use **Create translate and dub job** for media."
      }
    },
    "/openapi/v1/task/translate/create-async": {
      "post": {
        "tags": [
          "Text translation"
        ],
        "summary": "Translate text segments (async)",
        "operationId": "translateCreateAsync",
        "description": "Submit a batch text translation job. The HTTP response only confirms acceptance (`taskId`). Translated segments arrive in your [Webhook](/guides/webhooks) callback (`event`: `openapi-translate`).",
        "x-mint": {
          "href": "/api-reference/text-translation/create-text-translation-async",
          "metadata": {
            "sidebarTitle": "Translate text (async)",
            "title": "Translate text segments (async)"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiTranslateCreateAsyncRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acceptance only (`taskId`, `createdAt`). Final results are in the [Webhook](/guides/webhooks) callback request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiTaskAcceptedResponse"
                }
              }
            }
          }
        },
        "callbacks": {
          "taskCompleted": {
            "https://{yourWebhookUrl}": {
              "post": {
                "summary": "Webhook when async task finishes (`event`: `openapi-translate`)",
                "description": "HTTP **request body** VMEG POSTs to your [Webhook](/guides/webhooks) URL when a Text translation async task finishes. The JSON field `event` is `openapi-translate` (see [Webhook request body](/guides/webhook-request)). Not part of the create-async **Response** above. Full schema: [Create text translation (async)](/api-reference/text-translation/create-text-translation-async) → **Callbacks**.",
                "parameters": [
                  {
                    "$ref": "#/components/parameters/CallbackTimestamp"
                  },
                  {
                    "$ref": "#/components/parameters/CallbackSignature"
                  }
                ],
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/OpenApiTranslateTaskCompletedCallback"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Return 2xx promptly to stop retries"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/task/clone-voice/create": {
      "post": {
        "tags": [
          "Voice clone"
        ],
        "summary": "Clone voice from sample audio (sync)",
        "operationId": "cloneVoiceCreateSync",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiCloneVoiceCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiCloneVoiceCreateResponse"
                }
              }
            }
          }
        },
        "description": "Clone a speaker from a short reference recording in one request. On success, returns `voiceId` — reuse it in TTS or translate-and-dub jobs."
      }
    },
    "/openapi/v1/task/clone-voice/create-async": {
      "post": {
        "tags": [
          "Voice clone"
        ],
        "summary": "Clone voice from sample audio (async)",
        "operationId": "cloneVoiceCreateAsync",
        "description": "Submit a voice cloning job. The HTTP response only confirms acceptance (`taskId`). The new `voiceId` arrives in your [Webhook](/guides/webhooks) callback (`event`: `openapi-clone-voice`).",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiCloneVoiceCreateAsyncRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acceptance only (`taskId`). Final results are in the [Webhook](/guides/webhooks) callback request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiTaskAcceptedResponse"
                }
              }
            }
          }
        },
        "callbacks": {
          "taskCompleted": {
            "https://{yourWebhookUrl}": {
              "post": {
                "summary": "Webhook when async task finishes (`event`: `openapi-clone-voice`)",
                "description": "HTTP **request body** VMEG POSTs to your [Webhook](/guides/webhooks) URL when a Voice clone async task finishes. The JSON field `event` is `openapi-clone-voice` (see [Webhook request body](/guides/webhook-request)). Not part of the create-async **Response** above. Full schema: [Create voice clone (async)](/api-reference/clone-voice/create-voice-clone-async) → **Callbacks**.",
                "parameters": [
                  {
                    "$ref": "#/components/parameters/CallbackTimestamp"
                  },
                  {
                    "$ref": "#/components/parameters/CallbackSignature"
                  }
                ],
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/OpenApiCloneVoiceTaskCompletedCallback"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Return 2xx promptly to stop retries"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/task/media-translation/create-async": {
      "post": {
        "tags": [
          "Media translation"
        ],
        "summary": "Create translate and dub job",
        "description": "Start an async **translate and dub** pipeline for uploaded video or audio: transcribe speech → translate script → generate AI dubbing (voice clone or presets) → render dubbed output. Optional subtitles and lip sync via `options`. The HTTP response only confirms acceptance (`taskId`). Dubbed video/audio URLs arrive in your [Webhook](/guides/webhooks) callback (`event`: `openapi-media-translation`).\n\nIf you request audio translation (`taskType`: `at`) but the material is video, the server may run video translation (`vt`) instead — check `taskType` in the acceptance response.",
        "operationId": "mediaTranslationCreateAsync",
        "x-mint": {
          "href": "/api-reference/media-translation/create-media-translation-async",
          "metadata": {
            "sidebarTitle": "Create translate and dub job",
            "title": "Create translate and dub job"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMediaTranslationCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acceptance only (`taskId`, `taskType`, `status`, `createdAt`). Final results are in the [Webhook](/guides/webhooks) callback request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiMediaTranslationAcceptedResponse"
                }
              }
            }
          }
        },
        "callbacks": {
          "taskCompleted": {
            "https://{yourWebhookUrl}": {
              "post": {
                "summary": "Webhook when async task finishes (`event`: `openapi-media-translation`)",
                "description": "HTTP **request body** VMEG POSTs to your [Webhook](/guides/webhooks) URL when a Media translation async task finishes. The JSON field `event` is `openapi-media-translation` (see [Webhook request body](/guides/webhook-request)). Not part of the create-async **Response** above. Full schema: [Create media translation (async)](/api-reference/media-translation/create-media-translation-async) → **Callbacks**.",
                "parameters": [
                  {
                    "$ref": "#/components/parameters/CallbackTimestamp"
                  },
                  {
                    "$ref": "#/components/parameters/CallbackSignature"
                  }
                ],
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/OpenApiMediaTranslationTaskCompletedCallback"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Return 2xx promptly to stop retries"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/tasks/list": {
      "get": {
        "tags": [
          "Task management"
        ],
        "summary": "List API jobs",
        "operationId": "tasksList",
        "x-mint": {
          "href": "/api-reference/tasks/list-tasks",
          "metadata": {
            "sidebarTitle": "List API jobs",
            "title": "List API jobs"
          }
        },
        "parameters": [
          {
            "name": "taskType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OpenApiTaskType"
            },
            "description": "Filter by task type"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by task status"
          },
          {
            "name": "currentPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number (1-based)"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiTaskListResponse"
                }
              }
            }
          }
        },
        "description": "Paginated list of jobs you submitted (translate-and-dub, TTS, text translation, voice clone). Filter by `taskType` and `status`. Scoped to your **API Key**. Async deliverables still arrive via [Webhooks](/guides/webhooks) — use this endpoint to browse history or reconcile missed callbacks."
      }
    },
    "/openapi/v1/tasks/detail": {
      "get": {
        "tags": [
          "Task management"
        ],
        "summary": "Query job status and results",
        "operationId": "tasksDetail",
        "x-mint": {
          "href": "/api-reference/tasks/get-task-detail",
          "metadata": {
            "sidebarTitle": "Query job status",
            "title": "Query job status and results"
          }
        },
        "parameters": [
          {
            "name": "taskId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Open API task ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiTaskDetailResponse"
                }
              }
            }
          }
        },
        "description": "Poll status and `result` for one `taskId` — use after any `create-async`, or when webhooks are unavailable. For translate-and-dub jobs, `result` includes dubbed media CDN URLs when `status` is complete. Scoped to your **API Key**."
      }
    },
    "/openapi/v1/tasks/delete": {
      "post": {
        "tags": [
          "Task management"
        ],
        "summary": "Delete an API job",
        "operationId": "tasksDelete",
        "x-mint": {
          "href": "/api-reference/tasks/delete-task",
          "metadata": {
            "sidebarTitle": "Delete API job",
            "title": "Delete an API job"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiTaskDeleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiVoidResponse"
                }
              }
            }
          }
        },
        "description": "Delete a task record. Requires [`X-Idempotency-Key`](/guides/idempotency). See [Products overview](/guides/products/overview)."
      }
    },
    "/openapi/v1/assets/material/upload/gen-upload-url": {
      "post": {
        "tags": [
          "Assets - Materials"
        ],
        "summary": "Generate presigned upload URL",
        "operationId": "materialGenUploadUrl",
        "x-mint": {
          "href": "/api-reference/assets/materials/gen-upload-url",
          "metadata": {
            "sidebarTitle": "Generate presigned upload URL",
            "title": "Generate presigned upload URL"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMaterialFileHashRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiMaterialGenUploadUrlResponse"
                }
              }
            }
          }
        },
        "description": "Single-file upload **step 1**: get a presigned PUT URL and `materialId`. Upload the file to the URL, then call **Complete single-file upload**. Required before **Create translate and dub job**. See [Material upload](/guides/assets/material-upload)."
      }
    },
    "/openapi/v1/assets/material/upload/complete": {
      "post": {
        "tags": [
          "Assets - Materials"
        ],
        "summary": "Complete single-file upload",
        "operationId": "materialUploadComplete",
        "x-mint": {
          "href": "/api-reference/assets/materials/complete-upload",
          "metadata": {
            "sidebarTitle": "Complete single-file upload",
            "title": "Complete single-file upload"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMaterialUploadCompleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiMaterialDtoResponse"
                }
              }
            }
          }
        },
        "description": "Single-file upload **step 3**: register the file after CDN PUT. Requires [`X-Idempotency-Key`](/guides/idempotency). Flow: [Material upload](/guides/assets/material-upload)."
      }
    },
    "/openapi/v1/assets/material/upload/multipart/initiate": {
      "post": {
        "tags": [
          "Assets - Materials"
        ],
        "summary": "Initiate multipart upload",
        "operationId": "materialMultipartInitiate",
        "x-mint": {
          "href": "/api-reference/assets/materials/multipart-initiate",
          "metadata": {
            "sidebarTitle": "Initiate multipart upload",
            "title": "Initiate multipart upload"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMaterialFileHashRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiMaterialMultipartInitiateResponse"
                }
              }
            }
          }
        },
        "description": "Multipart upload **step 1**: start upload and get `materialId` / `uploadId`. Requires [`X-Idempotency-Key`](/guides/idempotency). Flow: [Material upload](/guides/assets/material-upload)."
      }
    },
    "/openapi/v1/assets/material/upload/multipart/presign-parts": {
      "post": {
        "tags": [
          "Assets - Materials"
        ],
        "summary": "Presign multipart parts",
        "operationId": "materialMultipartPresign",
        "x-mint": {
          "href": "/api-reference/assets/materials/multipart-presign-parts",
          "metadata": {
            "sidebarTitle": "Presign multipart parts",
            "title": "Presign multipart parts"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMaterialMultipartPresignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiMaterialMultipartPresignResponse"
                }
              }
            }
          }
        },
        "description": "Multipart upload **step 2**: presigned URL per part. Requires [`X-Idempotency-Key`](/guides/idempotency). Flow: [Material upload](/guides/assets/material-upload)."
      }
    },
    "/openapi/v1/assets/material/upload/multipart/complete": {
      "post": {
        "tags": [
          "Assets - Materials"
        ],
        "summary": "Complete multipart upload",
        "operationId": "materialMultipartComplete",
        "x-mint": {
          "href": "/api-reference/assets/materials/multipart-complete",
          "metadata": {
            "sidebarTitle": "Complete multipart upload",
            "title": "Complete multipart upload"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMaterialMultipartCompleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiMaterialDtoResponse"
                }
              }
            }
          }
        },
        "description": "Multipart upload **final step**: commit parts and register the material. Requires [`X-Idempotency-Key`](/guides/idempotency). Flow: [Material upload](/guides/assets/material-upload)."
      }
    },
    "/openapi/v1/assets/material/upload/multipart/abort": {
      "post": {
        "tags": [
          "Assets - Materials"
        ],
        "summary": "Abort multipart upload",
        "operationId": "materialMultipartAbort",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMaterialMultipartAbortRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiVoidResponse"
                }
              }
            }
          }
        },
        "description": "Cancel an in-progress multipart upload. Requires [`X-Idempotency-Key`](/guides/idempotency). See [Material upload](/guides/assets/material-upload)."
      }
    },
    "/openapi/v1/assets/material/list": {
      "get": {
        "tags": [
          "Assets - Materials"
        ],
        "summary": "List materials",
        "operationId": "materialList",
        "x-mint": {
          "href": "/api-reference/assets/materials/list-materials",
          "metadata": {
            "sidebarTitle": "List materials",
            "title": "List materials"
          }
        },
        "parameters": [
          {
            "name": "currentPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number (1-based)"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiMaterialListResponse"
                }
              }
            }
          }
        },
        "description": "Paginated library of video/audio files you uploaded for translate-and-dub jobs. Pass `materialId` to **Create translate and dub job**. See [Materials](/guides/assets/materials)."
      }
    },
    "/openapi/v1/assets/material/delete": {
      "post": {
        "tags": [
          "Assets - Materials"
        ],
        "summary": "Delete material",
        "operationId": "materialDelete",
        "x-mint": {
          "href": "/api-reference/assets/materials/delete-material",
          "metadata": {
            "sidebarTitle": "Delete material",
            "title": "Delete material"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMaterialDeleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiVoidResponse"
                }
              }
            }
          }
        },
        "description": "Logical delete of a material. Requires [`X-Idempotency-Key`](/guides/idempotency). See [Materials](/guides/assets/materials)."
      }
    },
    "/openapi/v1/assets/voice/basic/list": {
      "post": {
        "tags": [
          "Assets - Voices"
        ],
        "summary": "List system voices",
        "operationId": "voiceBasicList",
        "x-mint": {
          "href": "/api-reference/assets/voices/list-system-voices",
          "metadata": {
            "sidebarTitle": "List system voices",
            "title": "List system voices"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiBasicVoiceListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiBasicVoiceListResponse"
                }
              }
            }
          }
        },
        "description": "List read-only preset voices for **Synthesize speech** requests. Pick a `voiceId` from the response. See [Voices](/guides/assets/voices)."
      }
    },
    "/openapi/v1/assets/voice/clone/list": {
      "post": {
        "tags": [
          "Assets - Voices"
        ],
        "summary": "List cloned voices",
        "operationId": "voiceCloneList",
        "x-mint": {
          "href": "/api-reference/assets/voices/list-cloned-voices",
          "metadata": {
            "sidebarTitle": "List cloned voices",
            "title": "List cloned voices"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiCloneVoiceListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiCloneVoiceListResponse"
                }
              }
            }
          }
        },
        "description": "List cloned voices created by [Voice clone](/guides/products/voice-clone). See [Voices](/guides/assets/voices)."
      }
    },
    "/openapi/v1/assets/voice/clone/update": {
      "post": {
        "tags": [
          "Assets - Voices"
        ],
        "summary": "Rename cloned voice",
        "operationId": "voiceCloneUpdate",
        "x-mint": {
          "href": "/api-reference/assets/voices/rename-cloned-voice",
          "metadata": {
            "sidebarTitle": "Rename cloned voice",
            "title": "Rename cloned voice"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiCloneVoiceUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiVoidResponse"
                }
              }
            }
          }
        },
        "description": "Rename a cloned voice display name. Requires [`X-Idempotency-Key`](/guides/idempotency). See [Voices](/guides/assets/voices)."
      }
    },
    "/openapi/v1/assets/voice/clone/delete": {
      "post": {
        "tags": [
          "Assets - Voices"
        ],
        "summary": "Delete cloned voice",
        "operationId": "voiceCloneDelete",
        "x-mint": {
          "href": "/api-reference/assets/voices/delete-cloned-voice",
          "metadata": {
            "sidebarTitle": "Delete cloned voice",
            "title": "Delete cloned voice"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiCloneVoiceDeleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiVoidResponse"
                }
              }
            }
          }
        },
        "description": "Logical delete of a cloned voice. Requires [`X-Idempotency-Key`](/guides/idempotency). See [Voices](/guides/assets/voices)."
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Send your API Key in the **`Authorization`** header (`Bearer <api_key>`). See [Authentication](/guides/authentication)."
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "X-Idempotency-Key",
        "in": "header",
        "description": "Required on mutating `POST` requests that create tasks or change persisted data (max 64 characters). See [Idempotency](/guides/idempotency).",
        "schema": {
          "type": "string",
          "maxLength": 64
        }
      },
      "IdempotencyKeyRequired": {
        "name": "X-Idempotency-Key",
        "in": "header",
        "required": true,
        "description": "Required on mutating `POST` requests that create tasks or change persisted data (max 64 characters). See [Idempotency](/guides/idempotency).",
        "schema": {
          "type": "string",
          "maxLength": 64
        }
      },
      "CallbackTimestamp": {
        "name": "X-Timestamp",
        "in": "header",
        "required": true,
        "description": "Unix timestamp in milliseconds (string)",
        "schema": {
          "type": "string"
        }
      },
      "CallbackSignature": {
        "name": "X-Signature",
        "in": "header",
        "required": true,
        "description": "Lowercase hex HMAC-SHA256(secret, X-Timestamp + rawBody)",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "OpenApiResponseBase": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 200,
            "description": "Business code; 200 means success"
          },
          "message": {
            "type": "string",
            "example": "",
            "description": "Human-readable detail when `code` is not success"
          }
        },
        "required": [
          "code"
        ]
      },
      "OpenApiVoidResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "nullable": true,
                "description": "Always `null` for void responses"
              }
            }
          }
        ]
      },
      "OpenApiTaskType": {
        "type": "string",
        "description": "Open API task type code. For media translation create request, use `taskType` codes `vt` (video translation) or `at` (audio translation).",
        "enum": [
          "vt",
          "at",
          "tts",
          "cloneVoice",
          "textTranslation"
        ],
        "example": "vt"
      },
      "OpenApiTtsCreateRequest": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "provider": {
            "type": "string",
            "deprecated": true,
            "description": "Deprecated — do not send. Pass `voiceId` on each line instead. See [Text to speech](/guides/products/text-to-speech) and [Supported clone methods](/guides/supported-clone-methods#text-to-speech-voiceid-and-batch-rules)."
          },
          "language": {
            "type": "object",
            "properties": {
              "target": {
                "type": "string",
                "example": "en-US",
                "description": "Target locale (BCP-47). See [Supported languages](/guides/supported-languages)."
              }
            },
            "description": "Target language for synthesis"
          },
          "trim": {
            "type": "boolean",
            "default": false,
            "description": "When `true`, trim leading and trailing silence from output audio"
          },
          "data": {
            "type": "array",
            "maxItems": 50,
            "items": {
              "$ref": "#/components/schemas/OpenApiTtsDataItem"
            },
            "description": "Lines to synthesize (max 50). Each item needs `text` and a [Voices](/guides/assets/voices) `voiceId` or `timbreRefAudio`"
          },
          "outputFormat": {
            "type": "string",
            "enum": [
              "wav",
              "mp3",
              "m4a"
            ],
            "default": "m4a",
            "description": "Output audio container: `wav`, `mp3`, or `m4a`"
          }
        }
      },
      "OpenApiTtsCreateAsyncRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiTtsCreateRequest"
          },
          {
            "type": "object",
            "properties": {
              "extraData": {
                "$ref": "#/components/schemas/OpenApiExtraData"
              }
            }
          }
        ]
      },
      "OpenApiTtsDataItem": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "Text to synthesize"
          },
          "voiceId": {
            "type": "string",
            "description": "System or cloned voice ID for this line. See [Voices](/guides/assets/voices); or use `timbreRefAudio` instead"
          },
          "timbreRefAudio": {
            "type": "string",
            "description": "HTTPS reference audio when not using a [Voices](/guides/assets/voices) `voiceId`"
          },
          "emoWeight": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Emotion strength from `emoRefAudio` / `emoPrompt` (0–1)"
          },
          "emoRefAudio": {
            "type": "string",
            "description": "HTTPS URL of reference audio for emotion or delivery style"
          },
          "emoPrompt": {
            "type": "string",
            "description": "Text hint for desired emotion or speaking style"
          },
          "duration": {
            "type": "number",
            "description": "Target duration in seconds"
          }
        }
      },
      "OpenApiTtsResultItem": {
        "type": "object",
        "properties": {
          "uri": {
            "type": "string",
            "description": "Synthesized audio URL (HTTPS)"
          },
          "duration": {
            "type": "number",
            "description": "Duration in seconds"
          },
          "errorMessage": {
            "type": "string",
            "description": "Failure reason when synthesis failed for this item"
          }
        }
      },
      "OpenApiTtsCreateData": {
        "type": "object",
        "properties": {
          "taskId": {
            "type": "string",
            "description": "Open API task ID"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiTtsResultItem"
            },
            "description": "Synthesis result items"
          },
          "createdAt": {
            "type": "string",
            "description": "Task creation time (ISO 8601)"
          }
        }
      },
      "OpenApiTaskAcceptedData": {
        "type": "object",
        "description": "Immediate response for async task submission (no task results)",
        "required": [
          "taskId"
        ],
        "properties": {
          "taskId": {
            "type": "string",
            "description": "Open API task ID; use for polling or correlation"
          },
          "createdAt": {
            "type": "string",
            "description": "Returned by TTS and text translation async create"
          }
        }
      },
      "OpenApiTaskAcceptedResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiTaskAcceptedData"
              }
            }
          }
        ]
      },
      "OpenApiTtsCreateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "description": "Synthesis results returned in the synchronous HTTP response.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OpenApiTtsCreateData"
                  }
                ]
              }
            }
          }
        ]
      },
      "OpenApiTranslateCreateRequest": {
        "type": "object",
        "required": [
          "language",
          "segments"
        ],
        "properties": {
          "language": {
            "type": "object",
            "required": [
              "source",
              "target"
            ],
            "properties": {
              "source": {
                "type": "string",
                "example": "zh-CN",
                "description": "Source locale (BCP-47). See [Supported languages](/guides/supported-languages)."
              },
              "target": {
                "type": "string",
                "example": "en-US",
                "description": "Target locale (BCP-47). See [Supported languages](/guides/supported-languages)."
              }
            },
            "description": "Source and target locales for translation"
          },
          "segments": {
            "type": "array",
            "maxItems": 50,
            "items": {
              "$ref": "#/components/schemas/OpenApiTranslateSegment"
            },
            "description": "Text segments to translate (max 50)"
          },
          "options": {
            "$ref": "#/components/schemas/OpenApiTranslateOptions",
            "description": "Optional translation settings (context, scene, glossary, prompt)"
          }
        }
      },
      "OpenApiTranslateCreateAsyncRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiTranslateCreateRequest"
          },
          {
            "type": "object",
            "properties": {
              "extraData": {
                "$ref": "#/components/schemas/OpenApiExtraData"
              }
            }
          }
        ]
      },
      "OpenApiTranslateSpeakerGender": {
        "type": "string",
        "description": "Speaker gender for a translation segment",
        "enum": [
          "male",
          "female"
        ],
        "example": "male"
      },
      "OpenApiTranslateSegment": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "Source text for this segment"
          },
          "gender": {
            "$ref": "#/components/schemas/OpenApiTranslateSpeakerGender",
            "description": "Speaker gender for this segment. Enum: `male` or `female`."
          },
          "speaker": {
            "type": "string",
            "example": "Speaker A",
            "description": "Speaker label for multi-speaker content; helps keep pronouns and voice consistent across segments"
          },
          "locale": {
            "type": "string",
            "example": "zh-CN",
            "description": "Per-segment locale when it differs from `language.source`"
          },
          "context": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Per-segment neighbor lines. Takes priority over `options.sourceContext`; useful with `provided_only` when segments are not time-contiguous"
          },
          "start": {
            "type": "number",
            "description": "Start time in seconds on the source timeline. Pair with `end` to mark this segment's time span for neighbor context"
          },
          "end": {
            "type": "number",
            "description": "End time in seconds on the source timeline. Must be provided with `start` and be greater than or equal to `start`"
          }
        }
      },
      "OpenApiTranslateOptions": {
        "type": "object",
        "description": "Optional translation settings",
        "properties": {
          "sourceContext": {
            "$ref": "#/components/schemas/OpenApiTranslateSourceContext",
            "description": "How to use surrounding source text. Defaults to `independent` when omitted"
          },
          "sceneCustomized": {
            "$ref": "#/components/schemas/OpenApiTranslateSceneCustomized",
            "description": "Scene and delivery style hints"
          },
          "glossary": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Term glossary map (source term → preferred translation)"
          },
          "prompt": {
            "type": "string",
            "description": "Custom prompt appended to the translation instruction"
          },
          "skipMissingTranslationCheck": {
            "type": "boolean",
            "default": false,
            "description": "When `true`, skip validation that every segment received a translation"
          }
        }
      },
      "OpenApiTranslateSourceContext": {
        "type": "object",
        "description": "Global strategy for using neighbor context. Lower priority than per-segment `context`",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "independent",
              "provided_only",
              "neighbor"
            ],
            "default": "independent",
            "description": "`independent` — translate each segment alone. `provided_only` — use neighbor text supplied in segment `context`. `neighbor` — auto-pick neighbors from ordered segments using `contextWindow`"
          },
          "contextWindow": {
            "type": "integer",
            "minimum": 1,
            "maximum": 20,
            "default": 5,
            "description": "Only when `mode` is `neighbor`: number of segments before and after the current one to include (1–20)"
          }
        }
      },
      "OpenApiTranslateSceneCustomized": {
        "type": "object",
        "description": "Scene-specific translation behavior",
        "properties": {
          "scene": {
            "type": "string",
            "enum": [
              "video",
              "audio",
              "subtitle",
              "voiceover"
            ],
            "default": "video",
            "description": "Content type hint for the translation model"
          },
          "allowStutter": {
            "type": "boolean",
            "default": true,
            "description": "Whether disfluencies (stutters) in the source may be preserved in the translation"
          }
        }
      },
      "OpenApiTranslateResultItem": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Translated text"
          },
          "errorMessage": {
            "type": "string",
            "description": "Failure reason when translation failed for this segment"
          }
        }
      },
      "OpenApiTranslateCreateData": {
        "type": "object",
        "properties": {
          "taskId": {
            "type": "string",
            "description": "Open API task ID"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiTranslateResultItem"
            },
            "description": "Translated segments, aligned with request segments by index"
          },
          "createdAt": {
            "type": "string",
            "description": "Task creation time (ISO 8601)"
          }
        }
      },
      "OpenApiTranslateCreateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "description": "Translated segments returned in the synchronous HTTP response.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OpenApiTranslateCreateData"
                  }
                ]
              }
            }
          }
        ]
      },
      "OpenApiCloneVoiceCreateRequest": {
        "type": "object",
        "properties": {
          "voiceName": {
            "type": "string",
            "description": "Display name for the cloned voice in your asset library"
          },
          "provider": {
            "type": "string",
            "enum": [
              "V1",
              "V2",
              "V3",
              "V4",
              "V5"
            ],
            "example": "V1",
            "description": "Clone engine (`V1`–`V5`). See [Supported clone methods](/guides/supported-clone-methods)."
          },
          "refAudio": {
            "type": "string",
            "description": "HTTPS reference audio URL"
          },
          "sampleLanguage": {
            "type": "string",
            "example": "zh-CN",
            "description": "Sample language locale (BCP-47). See [Supported languages](/guides/supported-languages)."
          },
          "sampleText": {
            "type": "string",
            "description": "Optional transcript of `refAudio` to improve clone quality"
          }
        }
      },
      "OpenApiCloneVoiceCreateAsyncRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiCloneVoiceCreateRequest"
          },
          {
            "type": "object",
            "properties": {
              "extraData": {
                "$ref": "#/components/schemas/OpenApiExtraData"
              }
            }
          }
        ]
      },
      "OpenApiCloneVoiceCreateData": {
        "type": "object",
        "properties": {
          "taskId": {
            "type": "string",
            "description": "Open API task ID (async clone)"
          },
          "voiceId": {
            "type": "string",
            "description": "New cloned voice ID for TTS. See [Voices](/guides/assets/voices)"
          },
          "createdAt": {
            "type": "string",
            "description": "Task creation time (ISO 8601)"
          }
        }
      },
      "OpenApiCloneVoiceCreateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "description": "Clone result returned in the synchronous HTTP response.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OpenApiCloneVoiceCreateData"
                  }
                ]
              }
            }
          }
        ]
      },
      "OpenApiMediaTranslationSource": {
        "type": "object",
        "required": [
          "materialId"
        ],
        "properties": {
          "materialId": {
            "type": "string",
            "description": "Registered material ID from a **fully completed** [Material upload](/guides/assets/material-upload) (or from [List materials](/guides/assets/materials)). Do not use a mid-upload ID from gen-upload-url / multipart initiate."
          }
        },
        "description": "Input material for this translation job"
      },
      "OpenApiMediaTranslationLanguage": {
        "type": "object",
        "required": [
          "target"
        ],
        "properties": {
          "source": {
            "type": "string",
            "default": "auto",
            "example": "auto",
            "description": "Source locale (BCP-47) or `auto` for detection. See [Supported languages](/guides/supported-languages)."
          },
          "target": {
            "type": "string",
            "example": "zh-CN",
            "description": "Target locale (BCP-47). See [Supported languages](/guides/supported-languages)."
          }
        },
        "description": "Source and target locales for localization"
      },
      "OpenApiMediaTranslationVoiceClone": {
        "type": "object",
        "description": "Dubbing / voice clone settings (required inside `options`)",
        "properties": {
          "style": {
            "type": "string",
            "enum": [
              "emotional",
              "consistent"
            ],
            "default": "emotional",
            "description": "Clone style: `emotional` (expressive) or `consistent` (accent-consistent)"
          },
          "mode": {
            "type": "string",
            "enum": [
              "role",
              "mix",
              "sentence"
            ],
            "example": "role",
            "description": "How voices are assigned across speakers"
          },
          "provider": {
            "type": "string",
            "enum": [
              "V1",
              "V2",
              "V3",
              "V4",
              "V5"
            ],
            "description": "Clone engine (`V1`–`V5`). See [Supported clone methods](/guides/supported-clone-methods)."
          }
        }
      },
      "OpenApiMediaTranslationTranscribe": {
        "type": "object",
        "description": "Automatic speech recognition (ASR) settings",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "fast",
              "normal"
            ],
            "default": "fast",
            "description": "ASR speed vs accuracy trade-off"
          },
          "type": {
            "type": "string",
            "default": "default",
            "description": "ASR profile (product default when omitted)"
          }
        }
      },
      "OpenApiMediaTranslationTranslate": {
        "type": "object",
        "description": "Text translation step inside the media pipeline",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "default",
              "machine"
            ],
            "default": "default",
            "description": "`default` — standard localization. `machine` — machine translation mode"
          },
          "prompt": {
            "type": "string",
            "description": "Custom prompt for the translation step"
          }
        }
      },
      "OpenApiMediaTranslationSeparation": {
        "type": "object",
        "description": "Source separation (vocals vs background)",
        "properties": {
          "mode": {
            "type": "string",
            "default": "auto",
            "example": "auto",
            "description": "Separation mode (e.g. `auto`)"
          }
        }
      },
      "OpenApiMediaTranslationDynamicVideoLength": {
        "type": "object",
        "description": "Dynamic video length adjustment (video translation)",
        "properties": {
          "enable": {
            "type": "boolean",
            "description": "Enable dynamic length matching between source and dubbed video"
          }
        }
      },
      "OpenApiMediaTranslationLipsync": {
        "type": "object",
        "description": "Lip sync (video translation only; may add credits). See [Pricing](/guides/pricing)",
        "properties": {
          "enable": {
            "type": "boolean",
            "default": false,
            "description": "Enable lip sync on the output video"
          }
        }
      },
      "OpenApiMediaTranslationSelectedVoice": {
        "type": "object",
        "description": "A preset or cloned voice selected for dubbing",
        "properties": {
          "provider": {
            "type": "string",
            "example": "S1",
            "description": "Optional preset tier (`S1`, `S2`, …) when you pick a system voice. Clone voices use `V1`–`V5`. See [Voices](/guides/assets/voices)."
          },
          "voiceId": {
            "type": "string",
            "description": "Voice ID from [List system voices](/api-reference/assets/voices/list-system-voices) or your cloned voices"
          }
        }
      },
      "OpenApiMediaTranslationVoiceSpeakers": {
        "type": "object",
        "description": "Speaker and timbre configuration for dubbing",
        "properties": {
          "selectedVoicesList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiMediaTranslationSelectedVoice"
            },
            "description": "Explicit voice picks per speaker slot"
          },
          "speakerNum": {
            "type": "string",
            "example": "auto",
            "description": "Number of speakers to detect (`auto` or a numeric string)"
          },
          "timbreMethod": {
            "type": "string",
            "enum": [
              "clone",
              "smart"
            ],
            "example": "clone",
            "description": "`clone` — clone from source audio. `smart` — smart voice matching"
          }
        }
      },
      "OpenApiMediaTranslationOptions": {
        "type": "object",
        "required": [
          "voiceClone"
        ],
        "description": "Pipeline options: dubbing, ASR, translation, separation, lip sync, and captions",
        "properties": {
          "voiceClone": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationVoiceClone"
          },
          "transcribe": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationTranscribe"
          },
          "translate": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationTranslate"
          },
          "separation": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationSeparation"
          },
          "dynamicVideoLength": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationDynamicVideoLength"
          },
          "lipsync": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationLipsync"
          },
          "text": {
            "type": "object",
            "additionalProperties": true,
            "description": "Title and subtitle styling / burn-in configuration (product-specific object)"
          },
          "voiceSpeakers": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationVoiceSpeakers"
          }
        }
      },
      "OpenApiMediaTranslationCreateRequest": {
        "type": "object",
        "required": [
          "taskType",
          "source",
          "language",
          "options"
        ],
        "properties": {
          "taskType": {
            "type": "string",
            "enum": [
              "vt",
              "at"
            ],
            "description": "vt = video translation, at = audio translation. If `at` is used with a video material, the job may run as video translation"
          },
          "source": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationSource",
            "description": "Input material for this translation job"
          },
          "language": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationLanguage",
            "description": "Source and target locales for localization"
          },
          "options": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationOptions"
          },
          "extraData": {
            "$ref": "#/components/schemas/OpenApiExtraData",
            "description": "Optional client metadata; echoed in the completion webhook"
          }
        }
      },
      "OpenApiExtraData": {
        "type": "object",
        "additionalProperties": true,
        "description": "Optional client metadata on async submit; echoed in the completion webhook (`extraData` in callback body). Not used on sync create endpoints."
      },
      "OpenApiMediaTranslationAcceptedData": {
        "type": "object",
        "description": "Immediate response for media translation async create (no deliverables)",
        "required": [
          "taskId"
        ],
        "properties": {
          "taskId": {
            "type": "string",
            "description": "Open API task ID"
          },
          "taskType": {
            "$ref": "#/components/schemas/OpenApiTaskType",
            "description": "Effective task type (may differ from request when audio material is processed as video translation)"
          },
          "status": {
            "type": "string",
            "enum": [
              "running",
              "failed",
              "finished"
            ],
            "example": "running",
            "description": "Task status after acceptance (`running`, `failed`, or `finished`)"
          },
          "createdAt": {
            "type": "string",
            "description": "Task creation time (ISO 8601)"
          }
        }
      },
      "OpenApiMediaTranslationAcceptedResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiMediaTranslationAcceptedData"
              }
            }
          }
        ]
      },
      "OpenApiMediaTranslationCallbackData": {
        "type": "object",
        "description": "Task payload inside webhook `data` when `event` is `openapi-media-translation`. `data.result` with CDN deliverables.",
        "properties": {
          "taskId": {
            "type": "string",
            "description": "Open API task ID"
          },
          "taskType": {
            "$ref": "#/components/schemas/OpenApiTaskType"
          },
          "status": {
            "type": "string",
            "enum": [
              "running",
              "failed",
              "finished"
            ],
            "description": "Final task status (`finished` or `failed`)"
          },
          "result": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationCustomerResult",
            "description": "Fixed, sanitized customer result (CDN URLs + trimmed fields)."
          }
        }
      },
      "OpenApiMediaTranslationCustomerResult": {
        "type": "object",
        "description": "Media translation customer result (fixed shape). CDN URLs are HTTPS.",
        "properties": {
          "compress": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/OpenApiMediaTranslationMediaFile"
            },
            "description": "Transcode/compress outputs keyed by profile (e.g. `480p`, `360p`)."
          },
          "asrScripts": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationAsrScripts"
          },
          "audioSeparation": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationAudioSeparation"
          },
          "translatedScripts": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationTranslatedScripts"
          },
          "voiceClone": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationVoiceCloneResult"
          },
          "voiceMatch": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiMediaTranslationVoiceMatch"
            },
            "description": "Speaker-to-voice matching list."
          },
          "tts": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationTtsResult"
          },
          "alignment": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationAlignment"
          },
          "build": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationBuild"
          }
        }
      },
      "OpenApiMediaTranslationMediaFile": {
        "type": "object",
        "description": "Media file (video/audio/image).",
        "properties": {
          "url": {
            "type": "string",
            "description": "CDN URL (HTTPS)."
          },
          "duration": {
            "type": "number",
            "description": "Duration in seconds."
          },
          "size": {
            "type": "integer",
            "format": "int64",
            "description": "File size in bytes."
          },
          "resolution": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationResolution"
          },
          "fps": {
            "type": "integer",
            "description": "Frames per second (when applicable)."
          }
        }
      },
      "OpenApiMediaTranslationResolution": {
        "type": "object",
        "properties": {
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          }
        }
      },
      "OpenApiMediaTranslationAsrScripts": {
        "type": "object",
        "description": "ASR script summary (sanitized).",
        "properties": {
          "asrResults": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiMediaTranslationAsrResultLine"
            }
          },
          "monoAudio": {
            "type": "string",
            "description": "Mono audio URL (HTTPS)."
          },
          "speakerNum": {
            "type": "integer",
            "description": "Detected speaker count."
          },
          "language": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationLanguagePair"
          },
          "category": {
            "type": "string"
          },
          "industry": {
            "type": "string"
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ctcEnabled": {
            "type": "boolean"
          }
        }
      },
      "OpenApiMediaTranslationLanguagePair": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      },
      "OpenApiMediaTranslationAsrResultLine": {
        "type": "object",
        "properties": {
          "speaker": {
            "type": "string"
          },
          "start": {
            "type": "number"
          },
          "end": {
            "type": "number"
          },
          "text": {
            "type": "string"
          },
          "locale": {
            "type": "string"
          },
          "emotion": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "age": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "textWithBracket": {
            "type": "string"
          },
          "textWithBreak": {
            "type": "string"
          }
        }
      },
      "OpenApiMediaTranslationAudioSeparation": {
        "type": "object",
        "description": "Separated audio stems (CDN URLs).",
        "properties": {
          "sfxUrl": {
            "type": "string"
          },
          "musicUrl": {
            "type": "string"
          },
          "vocalUrl": {
            "type": "string"
          },
          "speechUrl": {
            "type": "string"
          },
          "otherUrl": {
            "type": "string"
          },
          "mnsUrl": {
            "type": "string"
          }
        }
      },
      "OpenApiMediaTranslationTranslatedScripts": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiMediaTranslationTranslatedScriptLine"
            }
          }
        }
      },
      "OpenApiMediaTranslationTranslatedScriptLine": {
        "type": "object",
        "properties": {
          "start": {
            "type": "number"
          },
          "end": {
            "type": "number"
          },
          "sourceText": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "speaker": {
            "type": "string"
          },
          "locale": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "voiceId": {
            "type": "string"
          },
          "provider": {
            "type": "string",
            "description": "Voice tier on this line — preset `S1`, `S2`, … or clone `V1`–`V5`. Keep with `voiceId` when you edit or resubmit lines. See [Voices](/guides/assets/voices)."
          },
          "speakerDisplayName": {
            "type": "string"
          },
          "emotion": {
            "type": "string"
          },
          "age": {
            "type": "string"
          },
          "sourceSyllable": {
            "type": "integer"
          },
          "targetSyllable": {
            "type": "integer"
          },
          "mode": {
            "type": "string"
          }
        }
      },
      "OpenApiMediaTranslationVoiceCloneResult": {
        "type": "object",
        "description": "Voice clone configuration (input + echoed output).",
        "properties": {
          "provider": {
            "type": "string",
            "description": "Clone engine (`V1`–`V5`). See [Supported clone methods](/guides/supported-clone-methods)."
          },
          "mode": {
            "type": "string"
          },
          "refAudio": {
            "type": "string",
            "description": "Reference audio URL (HTTPS)."
          }
        }
      },
      "OpenApiMediaTranslationVoiceMatch": {
        "type": "object",
        "properties": {
          "speaker": {
            "type": "string"
          },
          "voiceId": {
            "type": "string"
          },
          "provider": {
            "type": "string",
            "description": "Clone engine (`V1`–`V5`). See [Supported clone methods](/guides/supported-clone-methods)."
          },
          "exampleLanguage": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "audio": {
            "type": "string",
            "description": "Example audio URL (HTTPS)."
          }
        }
      },
      "OpenApiMediaTranslationTtsResult": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiMediaTranslationTtsLine"
            }
          }
        }
      },
      "OpenApiMediaTranslationTtsLine": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "ttsFile": {
            "type": "string",
            "description": "TTS audio URL (HTTPS)."
          },
          "provider": {
            "type": "string",
            "description": "Voice tier on this line — preset `S1`, `S2`, … or clone `V1`–`V5`. Keep with `voiceId` when you edit or resubmit lines. See [Voices](/guides/assets/voices)."
          },
          "voiceId": {
            "type": "string"
          },
          "duration": {
            "type": "integer",
            "format": "int64"
          },
          "cloneMode": {
            "type": "string"
          }
        }
      },
      "OpenApiMediaTranslationAlignment": {
        "type": "object",
        "properties": {
          "audio": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiMediaTranslationAlignmentTrack"
            }
          },
          "subtitle": {
            "type": "array",
            "items": {}
          },
          "video": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiMediaTranslationAlignmentTrack"
            }
          }
        }
      },
      "OpenApiMediaTranslationAlignmentTrack": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "description": "Track file URL (HTTPS)."
          },
          "templateId": {
            "type": "integer"
          },
          "tracksTimes": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "timeRange": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "volumeScale": {
            "type": "number"
          }
        }
      },
      "OpenApiMediaTranslationBuild": {
        "type": "object",
        "description": "Final build outputs (CDN URLs).",
        "properties": {
          "video": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationMediaFile"
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiMediaTranslationImageFile"
            }
          },
          "audio": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationAudioFile"
          }
        }
      },
      "OpenApiMediaTranslationImageFile": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "format": "int64"
          },
          "resolution": {
            "$ref": "#/components/schemas/OpenApiMediaTranslationResolution"
          }
        }
      },
      "OpenApiMediaTranslationAudioFile": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "duration": {
            "type": "number"
          },
          "size": {
            "type": "integer",
            "format": "int64"
          },
          "fps": {
            "type": "integer"
          }
        }
      },
      "OpenApiTaskSummary": {
        "type": "object",
        "properties": {
          "taskId": {
            "type": "string",
            "description": "Open API task ID"
          },
          "taskType": {
            "$ref": "#/components/schemas/OpenApiTaskType"
          },
          "status": {
            "type": "string",
            "description": "Task status"
          },
          "createdAt": {
            "type": "string",
            "description": "Task creation time (ISO 8601)"
          },
          "updatedAt": {
            "type": "string",
            "description": "Last update time (ISO 8601)"
          }
        }
      },
      "OpenApiTaskListData": {
        "type": "object",
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiTaskSummary"
            },
            "description": "Tasks on this page"
          },
          "total": {
            "type": "integer",
            "format": "int64",
            "description": "Total tasks matching the query"
          }
        }
      },
      "OpenApiTaskDetailData": {
        "type": "object",
        "properties": {
          "taskId": {
            "type": "string",
            "description": "Open API task ID"
          },
          "taskType": {
            "$ref": "#/components/schemas/OpenApiTaskType"
          },
          "status": {
            "type": "string",
            "description": "Current task status"
          },
          "result": {
            "type": "object",
            "description": "Task-specific result; structure varies by taskType",
            "additionalProperties": true
          }
        }
      },
      "OpenApiTaskListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiTaskListData"
              }
            }
          }
        ]
      },
      "OpenApiTaskDetailResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiTaskDetailData"
              }
            }
          }
        ]
      },
      "OpenApiTaskDeleteRequest": {
        "type": "object",
        "required": [
          "taskId"
        ],
        "properties": {
          "taskId": {
            "type": "string",
            "description": "Task ID to delete"
          }
        }
      },
      "OpenApiMaterialFileHashRequest": {
        "type": "object",
        "required": [
          "fileHash",
          "fileName"
        ],
        "properties": {
          "fileHash": {
            "type": "string",
            "description": "File MD5 hash"
          },
          "fileName": {
            "type": "string",
            "description": "File name including extension"
          }
        }
      },
      "OpenApiMaterialUploadCompleteRequest": {
        "type": "object",
        "required": [
          "s3Uri",
          "fileName",
          "materialId",
          "fileHash"
        ],
        "properties": {
          "s3Uri": {
            "type": "string",
            "description": "Upload target S3 URI from gen-upload-url or multipart initiate"
          },
          "fileName": {
            "type": "string",
            "description": "Original file name including extension"
          },
          "materialId": {
            "type": "string",
            "description": "Material ID from presigned upload. See [Materials](/guides/assets/materials)"
          },
          "fileHash": {
            "type": "string",
            "description": "MD5 hash of the uploaded file (must match upload request)"
          }
        }
      },
      "OpenApiMaterialMultipartPresignRequest": {
        "type": "object",
        "properties": {
          "materialId": {
            "type": "string",
            "description": "Material ID from multipart initiate. See [Materials](/guides/assets/materials)"
          },
          "uploadId": {
            "type": "string",
            "description": "Multipart upload session ID from initiate"
          },
          "fileHash": {
            "type": "string",
            "description": "MD5 hash of the full file"
          },
          "fileName": {
            "type": "string",
            "description": "Original file name including extension"
          },
          "partNumbers": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Part numbers to presign (1–10000)"
          }
        }
      },
      "OpenApiMaterialMultipartCompletePart": {
        "type": "object",
        "properties": {
          "partNumber": {
            "type": "integer",
            "description": "Part index (1-based)"
          },
          "eTag": {
            "type": "string",
            "description": "ETag from the S3 part PUT response"
          }
        }
      },
      "OpenApiMaterialMultipartCompleteRequest": {
        "type": "object",
        "properties": {
          "materialId": {
            "type": "string",
            "description": "Material ID from multipart initiate. See [Materials](/guides/assets/materials)"
          },
          "uploadId": {
            "type": "string",
            "description": "Multipart upload session ID"
          },
          "fileHash": {
            "type": "string",
            "description": "MD5 hash of the full file"
          },
          "fileName": {
            "type": "string",
            "description": "Original file name including extension"
          },
          "parts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiMaterialMultipartCompletePart"
            },
            "description": "Uploaded parts with `partNumber` and `eTag` from each PUT"
          }
        }
      },
      "OpenApiMaterialMultipartAbortRequest": {
        "type": "object",
        "properties": {
          "materialId": {
            "type": "string",
            "description": "Material ID from multipart initiate. See [Materials](/guides/assets/materials)"
          },
          "uploadId": {
            "type": "string",
            "description": "Multipart upload session ID to abort"
          },
          "fileHash": {
            "type": "string",
            "description": "MD5 hash of the file (must match initiate)"
          },
          "fileName": {
            "type": "string",
            "description": "Original file name including extension"
          }
        }
      },
      "OpenApiMaterialDeleteRequest": {
        "type": "object",
        "properties": {
          "materialId": {
            "type": "string",
            "description": "Material ID to delete. See [Materials](/guides/assets/materials)"
          }
        }
      },
      "OpenApiMaterialDto": {
        "type": "object",
        "properties": {
          "materialId": {
            "type": "string",
            "description": "Material ID. See [Materials](/guides/assets/materials)"
          },
          "category": {
            "type": "string",
            "example": "video",
            "description": "Material type"
          },
          "name": {
            "type": "string",
            "description": "Display file name"
          },
          "addressUrl": {
            "type": "string",
            "description": "Main file CDN URL"
          },
          "thumbnailUrl": {
            "type": "string",
            "description": "Thumbnail CDN URL"
          },
          "audioUrl": {
            "type": "string",
            "description": "Separated audio track CDN URL"
          },
          "resolution": {
            "type": "string",
            "example": "1920x1080",
            "description": "Video resolution when applicable (e.g. `1920x1080`)"
          },
          "mimeType": {
            "type": "string",
            "description": "MIME type of the main file"
          },
          "fileHash": {
            "type": "string",
            "description": "MD5 hash of the main file"
          },
          "filesize": {
            "type": "integer",
            "format": "int64",
            "description": "File size in bytes"
          },
          "duration": {
            "type": "integer",
            "format": "int64",
            "description": "Duration in milliseconds"
          },
          "createTime": {
            "type": "string",
            "description": "Registration time (ISO 8601)"
          },
          "updateTime": {
            "type": "string",
            "description": "Last update time (ISO 8601)"
          }
        }
      },
      "OpenApiMaterialGenUploadUrlData": {
        "type": "object",
        "properties": {
          "uploadUrl": {
            "type": "string",
            "description": "Presigned PUT URL; empty when instant upload (dedup) applies"
          },
          "material": {
            "$ref": "#/components/schemas/OpenApiMaterialDto",
            "description": "Present when the file already exists (instant upload)"
          },
          "s3Uri": {
            "type": "string",
            "description": "Upload target S3 URI; pass to complete"
          },
          "materialId": {
            "type": "string",
            "description": "Material ID for this upload. See [Materials](/guides/assets/materials)"
          }
        }
      },
      "OpenApiMaterialMultipartInitiateData": {
        "type": "object",
        "properties": {
          "materialId": {
            "type": "string",
            "description": "Material ID for this multipart upload. See [Materials](/guides/assets/materials)"
          },
          "s3Uri": {
            "type": "string",
            "description": "Upload target URI; pass to complete-upload"
          },
          "uploadId": {
            "type": "string",
            "description": "Multipart upload session ID"
          },
          "expiresInSeconds": {
            "type": "integer",
            "format": "int64",
            "description": "Seconds until presigned URLs expire"
          },
          "recommendedPartSize": {
            "type": "integer",
            "format": "int64",
            "description": "Suggested part size in bytes (S3 multipart minimum is typically 5 MB except the last part)"
          }
        }
      },
      "OpenApiMaterialMultipartPresignPartUrl": {
        "type": "object",
        "properties": {
          "partNumber": {
            "type": "integer",
            "description": "Part index (1-based)"
          },
          "url": {
            "type": "string",
            "description": "Presigned PUT URL for this part"
          }
        }
      },
      "OpenApiMaterialMultipartPresignData": {
        "type": "object",
        "properties": {
          "urls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiMaterialMultipartPresignPartUrl"
            },
            "description": "Presigned PUT URLs for requested parts"
          },
          "expiresInSeconds": {
            "type": "integer",
            "format": "int64",
            "description": "Seconds until these URLs expire"
          }
        }
      },
      "OpenApiMaterialListData": {
        "type": "object",
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiMaterialDto"
            },
            "description": "Materials on this page"
          },
          "total": {
            "type": "integer",
            "format": "int64",
            "description": "Total materials matching the query"
          }
        }
      },
      "OpenApiMaterialGenUploadUrlResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiMaterialGenUploadUrlData"
              }
            }
          }
        ]
      },
      "OpenApiMaterialMultipartInitiateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiMaterialMultipartInitiateData"
              }
            }
          }
        ]
      },
      "OpenApiMaterialMultipartPresignResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiMaterialMultipartPresignData"
              }
            }
          }
        ]
      },
      "OpenApiMaterialDtoResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiMaterialDto"
              }
            }
          }
        ]
      },
      "OpenApiMaterialListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiMaterialListData"
              }
            }
          }
        ]
      },
      "OpenApiBasicVoiceDto": {
        "type": "object",
        "properties": {
          "voiceId": {
            "type": "string",
            "description": "System preset voice ID. See [Voices](/guides/assets/voices)"
          },
          "localName": {
            "type": "string",
            "description": "Localized voice name"
          },
          "displayName": {
            "type": "string",
            "description": "Display name in the voice picker"
          },
          "locale": {
            "type": "string",
            "example": "en-US",
            "description": "Primary locale (BCP-47) for this preset"
          },
          "localeName": {
            "type": "string",
            "description": "Human-readable locale label"
          },
          "provider": {
            "type": "string",
            "description": "Preset tier code (`S1`–`S7`). See [Supported clone methods](/guides/supported-clone-methods)."
          },
          "gender": {
            "type": "string",
            "description": "Gender label (e.g. male, female)"
          },
          "style": {
            "type": "string",
            "description": "Speaking style tag"
          },
          "rolePlay": {
            "type": "string",
            "description": "Role-play or character tag"
          },
          "description": {
            "type": "string",
            "description": "Marketing or catalog description"
          },
          "personalities": {
            "type": "string",
            "description": "Comma-separated personality tags"
          },
          "personalityList": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Personality tags as a list"
          },
          "scenarios": {
            "type": "string",
            "description": "Recommended use-case tags"
          },
          "scenarioList": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Use-case tags as a list"
          },
          "isHd": {
            "type": "integer",
            "description": "`1` if this is an HD voice"
          },
          "isPreferred": {
            "type": "integer",
            "description": "`1` if marked preferred in the catalog"
          },
          "score": {
            "type": "number",
            "description": "Ranking score in list results"
          },
          "cover": {
            "type": "string",
            "description": "Cover image URL (HTTPS). Use the URL as returned."
          },
          "audio": {
            "type": "string",
            "description": "Sample preview audio URL (HTTPS). Use the URL as returned."
          },
          "createTime": {
            "type": "string",
            "description": "Record creation time"
          },
          "updateTime": {
            "type": "string",
            "description": "Record last update time"
          }
        }
      },
      "OpenApiCloneVoiceDto": {
        "type": "object",
        "properties": {
          "voiceId": {
            "type": "string",
            "description": "Cloned voice ID. See [Voices](/guides/assets/voices)"
          },
          "name": {
            "type": "string",
            "description": "Display name of the clone"
          },
          "provider": {
            "type": "string",
            "description": "Clone engine (`V1`–`V5`). See [Supported clone methods](/guides/supported-clone-methods)."
          },
          "exampleLanguage": {
            "type": "string",
            "description": "Sample language locale (BCP-47)"
          },
          "content": {
            "type": "string",
            "description": "Sample text or transcript associated with the clone"
          },
          "audio": {
            "type": "string",
            "description": "Sample or reference audio URL"
          },
          "taskId": {
            "type": "string",
            "description": "Voice clone task ID that created this voice"
          },
          "createTime": {
            "type": "string",
            "description": "Record creation time"
          },
          "updateTime": {
            "type": "string",
            "description": "Record last update time"
          }
        }
      },
      "OpenApiBasicVoiceListData": {
        "type": "object",
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiBasicVoiceDto"
            },
[...]
