{
  "openapi": "3.1.0",
  "info": {
    "title": "VMEG Open API",
    "description": "VMEG public Open API for TTS, text translation, media translation, voice cloning, and asset management. Responses use `{ code, message, data }`; `code === 200` means success.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.vmeg.ai",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "TTS",
      "description": "Speech synthesis tasks (sync and async)"
    },
    {
      "name": "Text translation",
      "description": "Atomic text translation tasks"
    },
    {
      "name": "Voice clone",
      "description": "Voice cloning tasks"
    },
    {
      "name": "Media translation",
      "description": "Async video and audio translation tasks"
    },
    {
      "name": "Task management",
      "description": "List, detail, and delete submitted tasks"
    },
    {
      "name": "Assets - Materials",
      "description": "CDN direct upload, multipart upload, list, and delete"
    },
    {
      "name": "Assets - Voices",
      "description": "System and cloned voices"
    }
  ],
  "paths": {
    "/openapi/task/tts/create": {
      "post": {
        "tags": [
          "TTS"
        ],
        "summary": "Create TTS task (sync)",
        "description": "Invokes vmeg-tts Lambda (RequestResponse) and returns synthesis results inline.",
        "operationId": "ttsCreateSync",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiTtsCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiTtsCreateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/task/tts/create-async": {
      "post": {
        "tags": [
          "TTS"
        ],
        "summary": "Create TTS task (async)",
        "description": "Async TTS submission.",
        "operationId": "ttsCreateAsync",
        "x-mint": {
          "content": "<Note>\n**Response:** immediate acceptance (`taskId`, `createdAt`). Does not include synthesis results.\n\n**Callbacks → task.completed:** the [Webhook](/guides/webhooks) **request body** VMEG POSTs to your server when the task finishes. The `data` field below carries synthesis results.\n</Note>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiTtsCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acceptance only (`taskId`, `createdAt`). Synthesis results are in the webhook callback request body under **Callbacks → task.completed**.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiTaskAcceptedResponse"
                }
              }
            }
          }
        },
        "callbacks": {
          "taskCompleted": {
            "https://{yourWebhookUrl}": {
              "post": {
                "summary": "Webhook request: task.completed",
                "description": "HTTP **request body** of the POST VMEG sends to your [Webhook](/guides/webhooks) URL when synthesis finishes. Not part of the create-async **Response** above.",
                "parameters": [
                  {
                    "$ref": "#/components/parameters/CallbackTimestamp"
                  },
                  {
                    "$ref": "#/components/parameters/CallbackSignature"
                  }
                ],
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/OpenApiTtsTaskCompletedCallback"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Return 2xx promptly to stop retries"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/task/translate/create": {
      "post": {
        "tags": [
          "Text translation"
        ],
        "summary": "Create text translation (sync)",
        "operationId": "translateCreateSync",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiTranslateCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiTranslateCreateResponse"
                }
              }
            }
          }
        },
        "description": "Invokes translate Lambda (RequestResponse) and returns translated items."
      }
    },
    "/openapi/task/translate/create-async": {
      "post": {
        "tags": [
          "Text translation"
        ],
        "summary": "Create text translation (async)",
        "operationId": "translateCreateAsync",
        "description": "Async text translation submission.",
        "x-mint": {
          "content": "<Note>\n**Response:** immediate acceptance (`taskId`, `createdAt`). Does not include translated text.\n\n**Callbacks → task.completed:** the [Webhook](/guides/webhooks) **request body** VMEG POSTs to your server when the task finishes. The `data` field below carries translation results.\n</Note>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiTranslateCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acceptance only (`taskId`, `createdAt`). Translation results are in the webhook callback request body under **Callbacks → task.completed**.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiTaskAcceptedResponse"
                }
              }
            }
          }
        },
        "callbacks": {
          "taskCompleted": {
            "https://{yourWebhookUrl}": {
              "post": {
                "summary": "Webhook request: task.completed",
                "description": "HTTP **request body** of the POST VMEG sends to your [Webhook](/guides/webhooks) URL when translation finishes. Not part of the create-async **Response** above.",
                "parameters": [
                  {
                    "$ref": "#/components/parameters/CallbackTimestamp"
                  },
                  {
                    "$ref": "#/components/parameters/CallbackSignature"
                  }
                ],
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/OpenApiTranslateTaskCompletedCallback"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Return 2xx promptly to stop retries"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/task/clone-voice/create": {
      "post": {
        "tags": [
          "Voice clone"
        ],
        "summary": "Create voice clone (sync)",
        "operationId": "cloneVoiceCreateSync",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiCloneVoiceCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiCloneVoiceCreateResponse"
                }
              }
            }
          }
        },
        "description": "Invokes clone-voice Lambda; on success returns voiceId and persists to t_openapi_voice."
      }
    },
    "/openapi/task/clone-voice/create-async": {
      "post": {
        "tags": [
          "Voice clone"
        ],
        "summary": "Create voice clone (async)",
        "operationId": "cloneVoiceCreateAsync",
        "description": "Async voice clone submission.",
        "x-mint": {
          "content": "<Note>\n**Response:** immediate acceptance (`taskId` only). Does not include `voiceId` or audio.\n\n**Callbacks → task.completed:** the [Webhook](/guides/webhooks) **request body** VMEG POSTs to your server when cloning finishes. The `data` field below carries clone results.\n</Note>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiCloneVoiceCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acceptance only (`taskId`). Clone results are in the webhook callback request body under **Callbacks → task.completed**.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiTaskAcceptedResponse"
                }
              }
            }
          }
        },
        "callbacks": {
          "taskCompleted": {
            "https://{yourWebhookUrl}": {
              "post": {
                "summary": "Webhook request: task.completed",
                "description": "HTTP **request body** of the POST VMEG sends to your [Webhook](/guides/webhooks) URL when cloning finishes. Not part of the create-async **Response** above.",
                "parameters": [
                  {
                    "$ref": "#/components/parameters/CallbackTimestamp"
                  },
                  {
                    "$ref": "#/components/parameters/CallbackSignature"
                  }
                ],
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/OpenApiCloneVoiceTaskCompletedCallback"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Return 2xx promptly to stop retries"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/task/media-translation/create-async": {
      "post": {
        "tags": [
          "Media translation"
        ],
        "summary": "Create media translation (async)",
        "description": "Async media translation. If request `taskType` is `at` but the material is video, the server may run `vt` instead (see `taskType` in the acceptance response).",
        "operationId": "mediaTranslationCreateAsync",
        "x-mint": {
          "content": "<Note>\n**Response:** immediate acceptance (`taskId`, `taskType`, `status`, `createdAt`). Does not include deliverables.\n\n**Callbacks → task.completed:** the [Webhook](/guides/webhooks) **request body** VMEG POSTs to your server when localization finishes. The `data` field below carries deliverables.\n</Note>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMediaTranslationCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acceptance only (`taskId`, `taskType`, `status`, `createdAt`). Deliverables are in the webhook callback request body under **Callbacks → task.completed**.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiMediaTranslationAcceptedResponse"
                }
              }
            }
          }
        },
        "callbacks": {
          "taskCompleted": {
            "https://{yourWebhookUrl}": {
              "post": {
                "summary": "Webhook request: task.completed",
                "description": "HTTP **request body** of the POST VMEG sends to your [Webhook](/guides/webhooks) URL when localization finishes. Not part of the create-async **Response** above.",
                "parameters": [
                  {
                    "$ref": "#/components/parameters/CallbackTimestamp"
                  },
                  {
                    "$ref": "#/components/parameters/CallbackSignature"
                  }
                ],
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/OpenApiMediaTranslationTaskCompletedCallback"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Return 2xx promptly to stop retries"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi/tasks/list": {
      "get": {
        "tags": [
          "Task management"
        ],
        "summary": "List tasks",
        "operationId": "tasksList",
        "parameters": [
          {
            "name": "projId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project ID (from API Key auth context)"
          },
          {
            "name": "taskType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OpenApiTaskType"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currentPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiTaskListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/tasks/detail": {
      "get": {
        "tags": [
          "Task management"
        ],
        "summary": "Get task detail",
        "operationId": "tasksDetail",
        "parameters": [
          {
            "name": "projId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiTaskDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/tasks/delete": {
      "post": {
        "tags": [
          "Task management"
        ],
        "summary": "Delete task",
        "operationId": "tasksDelete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiTaskDeleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiVoidResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/assets/material/upload/gen-upload-url": {
      "post": {
        "tags": [
          "Assets - Materials"
        ],
        "summary": "Generate presigned upload URL",
        "operationId": "materialGenUploadUrl",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMaterialFileHashRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiMaterialGenUploadUrlResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/assets/material/upload/complete": {
      "post": {
        "tags": [
          "Assets - Materials"
        ],
        "summary": "Complete single-file upload",
        "operationId": "materialUploadComplete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMaterialUploadCompleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiMaterialDtoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/assets/material/upload/multipart/initiate": {
      "post": {
        "tags": [
          "Assets - Materials"
        ],
        "summary": "Initiate multipart upload",
        "operationId": "materialMultipartInitiate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMaterialFileHashRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiMaterialMultipartInitiateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/assets/material/upload/multipart/presign-parts": {
      "post": {
        "tags": [
          "Assets - Materials"
        ],
        "summary": "Presign multipart parts",
        "operationId": "materialMultipartPresign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMaterialMultipartPresignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiMaterialMultipartPresignResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/assets/material/upload/multipart/complete": {
      "post": {
        "tags": [
          "Assets - Materials"
        ],
        "summary": "Complete multipart upload",
        "operationId": "materialMultipartComplete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMaterialMultipartCompleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiMaterialDtoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/assets/material/upload/multipart/abort": {
      "post": {
        "tags": [
          "Assets - Materials"
        ],
        "summary": "Abort multipart upload",
        "operationId": "materialMultipartAbort",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMaterialMultipartAbortRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiVoidResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/assets/material/list": {
      "get": {
        "tags": [
          "Assets - Materials"
        ],
        "summary": "List materials",
        "operationId": "materialList",
        "parameters": [
          {
            "name": "projId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currentPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiMaterialListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/assets/material/delete": {
      "post": {
        "tags": [
          "Assets - Materials"
        ],
        "summary": "Delete material (logical)",
        "operationId": "materialDelete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiMaterialDeleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiVoidResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/assets/voice/basic/list": {
      "post": {
        "tags": [
          "Assets - Voices"
        ],
        "summary": "List system voices (read-only)",
        "operationId": "voiceBasicList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiBasicVoiceListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiBasicVoiceListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/assets/voice/clone/list": {
      "post": {
        "tags": [
          "Assets - Voices"
        ],
        "summary": "List cloned voices",
        "operationId": "voiceCloneList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiCloneVoiceListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiCloneVoiceListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/assets/voice/clone/update": {
      "post": {
        "tags": [
          "Assets - Voices"
        ],
        "summary": "Rename cloned voice",
        "operationId": "voiceCloneUpdate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiCloneVoiceUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiVoidResponse"
                }
              }
            }
          }
        }
      }
    },
    "/openapi/assets/voice/clone/delete": {
      "post": {
        "tags": [
          "Assets - Voices"
        ],
        "summary": "Delete cloned voice (logical)",
        "operationId": "voiceCloneDelete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiCloneVoiceDeleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiVoidResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "taskCallback": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Task completion callback (sent by VMEG to your URL)",
        "description": "After async tasks complete, VMEG POSTs to your configured webhook URL. Per-task `data` schemas are documented under Callbacks on each `create-async` operation. Envelope signing: Webhooks guide.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiCallbackDispatchBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Received successfully (return 2xx)"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Project API Key: `Authorization: Bearer <api_key>`"
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "X-Idempotency-Key",
        "in": "header",
        "description": "Idempotency key (required on async create, max 64 characters)",
        "schema": {
          "type": "string",
          "maxLength": 64
        }
      },
      "IdempotencyKeyRequired": {
        "name": "X-Idempotency-Key",
        "in": "header",
        "required": true,
        "description": "Idempotency key (required, max 64 characters)",
        "schema": {
          "type": "string",
          "maxLength": 64
        }
      },
      "CallbackTimestamp": {
        "name": "X-Timestamp",
        "in": "header",
        "required": true,
        "description": "Unix timestamp in milliseconds (string)",
        "schema": {
          "type": "string"
        }
      },
      "CallbackSignature": {
        "name": "X-Signature",
        "in": "header",
        "required": true,
        "description": "Lowercase hex HMAC-SHA256(secret, X-Timestamp + rawBody)",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "OpenApiResponseBase": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 200,
            "description": "Business code; 200 means success"
          },
          "message": {
            "type": "string",
            "example": ""
          }
        },
        "required": [
          "code"
        ]
      },
      "OpenApiVoidResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "nullable": true
              }
            }
          }
        ]
      },
      "OpenApiTaskType": {
        "type": "string",
        "enum": [
          "VIDEO_TRANSLATION",
          "AUDIO_TRANSLATION",
          "SUBTITLE_TRANSLATION",
          "TTS",
          "CLONE_VOICE",
          "TEXT_TRANSLATION"
        ]
      },
      "OpenApiTtsCreateRequest": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "provider": {
            "type": "string",
            "example": "V1",
            "description": "Engine code: V1-V5, or MM/V2/CB/IT/CVC, etc."
          },
          "language": {
            "type": "object",
            "properties": {
              "target": {
                "type": "string",
                "example": "en-US"
              }
            }
          },
          "trim": {
            "type": "boolean",
            "default": false
          },
          "data": {
            "type": "array",
            "maxItems": 50,
            "items": {
              "$ref": "#/components/schemas/OpenApiTtsDataItem"
            }
          },
          "outputFormat": {
            "type": "string",
            "enum": [
              "wav",
              "mp3",
              "m4a"
            ],
            "default": "m4a"
          },
          "extraData": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "OpenApiTtsDataItem": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string"
          },
          "voiceId": {
            "type": "string",
            "description": "Use either voiceId or timbreRefAudio"
          },
          "timbreRefAudio": {
            "type": "string",
            "description": "Timbre reference audio S3 URL"
          },
          "emoWeight": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "emoRefAudio": {
            "type": "string"
          },
          "emoPrompt": {
            "type": "string"
          },
          "duration": {
            "type": "number",
            "description": "Target duration in seconds"
          }
        }
      },
      "OpenApiTtsResultItem": {
        "type": "object",
        "properties": {
          "uri": {
            "type": "string",
            "description": "Audio URL (CDN HTTPS in API responses; S3 URI from Lambda)"
          },
          "duration": {
            "type": "number",
            "description": "Duration in seconds"
          },
          "errorMessage": {
            "type": "string",
            "description": "Failure reason when synthesis failed for this item"
          }
        }
      },
      "OpenApiTtsCreateData": {
        "type": "object",
        "description": "Synchronous create response and task.completed webhook `data` for TTS",
        "properties": {
          "taskId": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiTtsResultItem"
            },
            "description": "Present on synchronous create and in the task.completed webhook `data`"
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "OpenApiTaskAcceptedData": {
        "type": "object",
        "description": "Immediate response for async task submission (no task results)",
        "required": [
          "taskId"
        ],
        "properties": {
          "taskId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "description": "Returned by TTS and text translation async create"
          }
        }
      },
      "OpenApiTaskAcceptedResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiTaskAcceptedData"
              }
            }
          }
        ]
      },
      "OpenApiTtsCreateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiTtsCreateData"
              }
            }
          }
        ]
      },
      "OpenApiTranslateCreateRequest": {
        "type": "object",
        "required": [
          "language",
          "segments"
        ],
        "properties": {
          "language": {
            "type": "object",
            "required": [
              "source",
              "target"
            ],
            "properties": {
              "source": {
                "type": "string",
                "example": "zh-CN"
              },
              "target": {
                "type": "string",
                "example": "en-US"
              }
            }
          },
          "segments": {
            "type": "array",
            "maxItems": 50,
            "items": {
              "$ref": "#/components/schemas/OpenApiTranslateSegment"
            }
          },
          "options": {
            "type": "object",
            "additionalProperties": true
          },
          "extraData": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "OpenApiTranslateSegment": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string"
          },
          "gender": {
            "type": "string",
            "example": "male"
          },
          "speaker": {
            "type": "string"
          },
          "locale": {
            "type": "string"
          },
          "context": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "start": {
            "type": "number"
          },
          "end": {
            "type": "number"
          }
        }
      },
      "OpenApiTranslateResultItem": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Translated text"
          },
          "errorMessage": {
            "type": "string",
            "description": "Failure reason when translation failed for this segment"
          }
        }
      },
      "OpenApiTranslateCreateData": {
        "type": "object",
        "description": "Synchronous create response and task.completed webhook `data` for text translation",
        "properties": {
          "taskId": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiTranslateResultItem"
            },
            "description": "Aligned with request segments by index; present on synchronous create and in the task.completed webhook `data`"
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "OpenApiTranslateCreateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiTranslateCreateData"
              }
            }
          }
        ]
      },
      "OpenApiCloneVoiceCreateRequest": {
        "type": "object",
        "properties": {
          "voiceName": {
            "type": "string"
          },
          "provider": {
            "type": "string",
            "example": "V1"
          },
          "refAudio": {
            "type": "string",
            "description": "HTTPS reference audio URL"
          },
          "sampleLanguage": {
            "type": "string",
            "example": "zh-CN"
          },
          "sampleText": {
            "type": "string"
          },
          "extraData": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "OpenApiCloneVoiceCreateData": {
        "type": "object",
        "description": "Synchronous create response and task.completed webhook `data` for voice clone (voiceId and audio populated on completion)",
        "properties": {
          "taskId": {
            "type": "string"
          },
          "voiceId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "OpenApiCloneVoiceCreateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiCloneVoiceCreateData"
              }
            }
          }
        ]
      },
      "OpenApiMediaTranslationCreateRequest": {
        "type": "object",
        "required": [
          "taskType",
          "source",
          "language",
          "options"
        ],
        "properties": {
          "taskType": {
            "type": "string",
            "enum": [
              "vt",
              "at"
            ],
            "description": "vt = video translation, at = audio translation"
          },
          "source": {
            "type": "object",
            "required": [
              "materialId"
            ],
            "properties": {
              "materialId": {
                "type": "string"
              }
            }
          },
          "language": {
            "type": "object",
            "properties": {
              "source": {
                "type": "string"
              },
              "target": {
                "type": "string"
              }
            }
          },
          "options": {
            "type": "object",
            "description": "Dubbing, ASR, translation, etc. See media translation guide"
          },
          "output": {
            "type": "object"
          },
          "extraData": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "OpenApiMediaTranslationAcceptedData": {
        "type": "object",
        "description": "Immediate response for media translation async create (no deliverables)",
        "required": [
          "taskId"
        ],
        "properties": {
          "taskId": {
            "type": "string"
          },
          "taskType": {
            "$ref": "#/components/schemas/OpenApiTaskType",
            "description": "Effective task type (may differ from request when audio material is processed as video translation)"
          },
          "status": {
            "type": "string",
            "enum": [
              "running",
              "failed",
              "finished"
            ],
            "example": "running"
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "OpenApiMediaTranslationAcceptedResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiMediaTranslationAcceptedData"
              }
            }
          }
        ]
      },
      "OpenApiMediaTranslationCallbackData": {
        "type": "object",
        "description": "Webhook `data` for media translation task.completed",
        "properties": {
          "taskId": {
            "type": "string"
          },
          "taskType": {
            "$ref": "#/components/schemas/OpenApiTaskType"
          },
          "status": {
            "type": "string",
            "enum": [
              "running",
              "failed",
              "finished"
            ]
          },
          "result": {
            "type": "object",
            "description": "Sanitized deliverables (CDN URLs and selected fields); structure varies by taskType",
            "additionalProperties": true
          }
        }
      },
      "OpenApiTaskSummary": {
        "type": "object",
        "properties": {
          "taskId": {
            "type": "string"
          },
          "taskType": {
            "$ref": "#/components/schemas/OpenApiTaskType"
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "OpenApiTaskListData": {
        "type": "object",
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiTaskSummary"
            }
          },
          "total": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "OpenApiTaskDetailData": {
        "type": "object",
        "properties": {
          "taskId": {
            "type": "string"
          },
          "taskType": {
            "$ref": "#/components/schemas/OpenApiTaskType"
          },
          "status": {
            "type": "string"
          },
          "result": {
            "type": "object",
            "description": "Task-specific result; structure varies by taskType",
            "additionalProperties": true
          }
        }
      },
      "OpenApiTaskListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiTaskListData"
              }
            }
          }
        ]
      },
      "OpenApiTaskDetailResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiTaskDetailData"
              }
            }
          }
        ]
      },
      "OpenApiTaskDeleteRequest": {
        "type": "object",
        "required": [
          "projId",
          "taskId"
        ],
        "properties": {
          "projId": {
            "type": "string"
          },
          "taskId": {
            "type": "string"
          }
        }
      },
      "OpenApiMaterialFileHashRequest": {
        "type": "object",
        "required": [
          "fileHash",
          "fileName"
        ],
        "properties": {
          "fileHash": {
            "type": "string",
            "description": "File MD5 hash"
          },
          "fileName": {
            "type": "string",
            "description": "File name including extension"
          }
        }
      },
      "OpenApiMaterialUploadCompleteRequest": {
        "type": "object",
        "required": [
          "s3Uri",
          "fileName",
          "materialId",
          "fileHash"
        ],
        "properties": {
          "s3Uri": {
            "type": "string",
            "description": "Upload target S3 URI from gen-upload-url or multipart initiate"
          },
          "fileName": {
            "type": "string"
          },
          "materialId": {
            "type": "string"
          },
          "fileHash": {
            "type": "string"
          }
        }
      },
      "OpenApiMaterialMultipartPresignRequest": {
        "type": "object",
        "properties": {
          "materialId": {
            "type": "string"
          },
          "uploadId": {
            "type": "string"
          },
          "fileHash": {
            "type": "string"
          },
          "fileName": {
            "type": "string"
          },
          "partNumbers": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Part numbers to presign (1–10000)"
          }
        }
      },
      "OpenApiMaterialMultipartCompletePart": {
        "type": "object",
        "properties": {
          "partNumber": {
            "type": "integer"
          },
          "eTag": {
            "type": "string",
            "description": "ETag from the S3 part PUT response"
          }
        }
      },
      "OpenApiMaterialMultipartCompleteRequest": {
        "type": "object",
        "properties": {
          "materialId": {
            "type": "string"
          },
          "uploadId": {
            "type": "string"
          },
          "fileHash": {
            "type": "string"
          },
          "fileName": {
            "type": "string"
          },
          "parts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiMaterialMultipartCompletePart"
            }
          }
        }
      },
      "OpenApiMaterialMultipartAbortRequest": {
        "type": "object",
        "properties": {
          "materialId": {
            "type": "string"
          },
          "uploadId": {
            "type": "string"
          },
          "fileHash": {
            "type": "string"
          },
          "fileName": {
            "type": "string"
          }
        }
      },
      "OpenApiMaterialDeleteRequest": {
        "type": "object",
        "properties": {
          "materialId": {
            "type": "string"
          }
        }
      },
      "OpenApiMaterialDto": {
        "type": "object",
        "properties": {
          "materialId": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "example": "video",
            "description": "Material type"
          },
          "name": {
            "type": "string",
            "description": "Display file name"
          },
          "addressUrl": {
            "type": "string",
            "description": "Main file CDN URL"
          },
          "thumbnailUrl": {
            "type": "string",
            "description": "Thumbnail CDN URL"
          },
          "audioUrl": {
            "type": "string",
            "description": "Separated audio track CDN URL"
          },
          "resolution": {
            "type": "string",
            "example": "1920x1080"
          },
          "mimeType": {
            "type": "string"
          },
          "fileHash": {
            "type": "string"
          },
          "filesize": {
            "type": "integer",
            "format": "int64",
            "description": "File size in bytes"
          },
          "duration": {
            "type": "integer",
            "format": "int64",
            "description": "Duration in milliseconds"
          },
          "createTime": {
            "type": "string"
          },
          "updateTime": {
            "type": "string"
          }
        }
      },
      "OpenApiMaterialGenUploadUrlData": {
        "type": "object",
        "properties": {
          "uploadUrl": {
            "type": "string",
            "description": "Presigned PUT URL; empty when instant upload (dedup) applies"
          },
          "material": {
            "$ref": "#/components/schemas/OpenApiMaterialDto",
            "description": "Present when the file already exists (instant upload)"
          },
          "s3Uri": {
            "type": "string",
            "description": "Upload target S3 URI; pass to complete"
          },
          "materialId": {
            "type": "string"
          }
        }
      },
      "OpenApiMaterialMultipartInitiateData": {
        "type": "object",
        "properties": {
          "materialId": {
            "type": "string"
          },
          "s3Uri": {
            "type": "string"
          },
          "uploadId": {
            "type": "string"
          },
          "expiresInSeconds": {
            "type": "integer",
            "format": "int64"
          },
          "recommendedPartSize": {
            "type": "integer",
            "format": "int64",
            "description": "Suggested part size in bytes (S3 multipart minimum is typically 5 MB except the last part)"
          }
        }
      },
      "OpenApiMaterialMultipartPresignPartUrl": {
        "type": "object",
        "properties": {
          "partNumber": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "description": "Presigned PUT URL for this part"
          }
        }
      },
      "OpenApiMaterialMultipartPresignData": {
        "type": "object",
        "properties": {
          "urls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiMaterialMultipartPresignPartUrl"
            }
          },
          "expiresInSeconds": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "OpenApiMaterialListData": {
        "type": "object",
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiMaterialDto"
            }
          },
          "total": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "OpenApiMaterialGenUploadUrlResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiMaterialGenUploadUrlData"
              }
            }
          }
        ]
      },
      "OpenApiMaterialMultipartInitiateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiMaterialMultipartInitiateData"
              }
            }
          }
        ]
      },
      "OpenApiMaterialMultipartPresignResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiMaterialMultipartPresignData"
              }
            }
          }
        ]
      },
      "OpenApiMaterialDtoResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiMaterialDto"
              }
            }
          }
        ]
      },
      "OpenApiMaterialListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiMaterialListData"
              }
            }
          }
        ]
      },
      "OpenApiBasicVoiceDto": {
        "type": "object",
        "properties": {
          "voiceId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "localName": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "locale": {
            "type": "string",
            "example": "en-US"
          },
          "localeName": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "style": {
            "type": "string"
          },
          "rolePlay": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "personalities": {
            "type": "string"
          },
          "personalityList": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "scenarios": {
            "type": "string"
          },
          "scenarioList": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isHd": {
            "type": "integer"
          },
          "isPreferred": {
            "type": "integer"
          },
          "score": {
            "type": "number"
          },
          "model": {
            "type": "string"
          },
          "cover": {
            "type": "string"
          },
          "audio": {
            "type": "string"
          },
          "createTime": {
            "type": "string"
          },
          "updateTime": {
            "type": "string"
          }
        }
      },
      "OpenApiCloneVoiceDto": {
        "type": "object",
        "properties": {
          "voiceId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "exampleLanguage": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "audio": {
            "type": "string"
          },
          "taskId": {
            "type": "string"
          },
          "createTime": {
            "type": "string"
          },
          "updateTime": {
            "type": "string"
          }
        }
      },
      "OpenApiBasicVoiceListData": {
        "type": "object",
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiBasicVoiceDto"
            }
          },
          "total": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "OpenApiCloneVoiceListData": {
        "type": "object",
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenApiCloneVoiceDto"
            }
          },
          "total": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "OpenApiBasicVoiceListRequest": {
        "type": "object",
        "properties": {
          "voiceId": {
            "type": "string"
          },
          "searchName": {
            "type": "string"
          },
          "locale": {
            "type": "string",
            "example": "en-US"
          },
          "age": {
            "type": "string",
            "description": "young / adult / senior"
          },
          "gender": {
            "type": "string"
          },
          "quality": {
            "type": "string",
            "description": "any / high"
          },
          "category": {
            "type": "string"
          },
          "emotionPrompt": {
            "type": "string",
            "description": "exclude / include"
          },
          "topIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "currentPage": {
            "type": "integer",
            "default": 1
          },
          "pageSize": {
            "type": "integer",
            "default": 10
          },
          "orderBy": {
            "type": "string",
            "description": "voiceId / score / create_time / update_time / is_preferred"
          },
          "order": {
            "type": "string",
            "default": "desc"
          }
        }
      },
      "OpenApiBasicVoiceListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiBasicVoiceListData"
              }
            }
          }
        ]
      },
      "OpenApiCloneVoiceListRequest": {
        "type": "object",
        "properties": {
          "voiceId": {
            "type": "string"
          },
          "voiceIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "searchName": {
            "type": "string"
          },
          "currentPage": {
            "type": "integer",
            "default": 1
          },
          "pageSize": {
            "type": "integer",
            "default": 10
          },
          "orderBy": {
            "type": "string",
            "description": "voiceId / name / create_time / update_time"
          },
          "order": {
            "type": "string",
            "default": "desc"
          }
        }
      },
      "OpenApiCloneVoiceListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiResponseBase"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiCloneVoiceListData"
              }
            }
          }
        ]
      },
      "OpenApiCloneVoiceUpdateRequest": {
        "type": "object",
        "properties": {
          "voiceId": {
            "type": "string"
          },
          "voiceName": {
            "type": "string"
          }
        }
      },
      "OpenApiCloneVoiceDeleteRequest": {
        "type": "object",
        "properties": {
          "voiceId": {
            "type": "string"
          }
        }
      },
      "OpenApiCallbackEnvelope": {
        "type": "object",
        "description": "Shared fields of the HTTP **request body** VMEG POSTs to your [Webhook](/guides/webhooks) URL on `task.completed`. Configure the URL, signing headers, and retries in the Webhooks guide.",
        "properties": {
          "code": {
            "type": "integer",
            "example": 200,
            "description": "Business outcome for this delivery"
          },
          "version": {
            "type": "string",
            "example": "1.0"
          },
          "event": {
            "type": "string",
            "example": "task.completed"
          },
          "message": {
            "type": "string"
          },
          "extraData": {
            "type": "object",
            "description": "Echo of extraData / memo from the submit request",
            "additionalProperties": true
          }
        }
      },
      "OpenApiTtsTaskCompletedCallback": {
        "description": "Complete webhook callback **request body** for TTS `task.completed`. See [Webhooks](/guides/webhooks) for URL configuration and signature verification.",
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiCallbackEnvelope"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiTtsCreateData"
              }
            }
          }
        ]
      },
      "OpenApiTranslateTaskCompletedCallback": {
        "description": "Complete webhook callback **request body** for text translation `task.completed`. See [Webhooks](/guides/webhooks) for URL configuration and signature verification.",
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiCallbackEnvelope"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiTranslateCreateData"
              }
            }
          }
        ]
      },
      "OpenApiCloneVoiceTaskCompletedCallback": {
        "description": "Complete webhook callback **request body** for voice clone `task.completed`. See [Webhooks](/guides/webhooks) for URL configuration and signature verification.",
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiCallbackEnvelope"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiCloneVoiceCreateData"
              }
            }
          }
        ]
      },
      "OpenApiMediaTranslationTaskCompletedCallback": {
        "description": "Complete webhook callback **request body** for media translation `task.completed`. See [Webhooks](/guides/webhooks) for URL configuration and signature verification.",
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenApiCallbackEnvelope"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "$ref": "#/components/schemas/OpenApiMediaTranslationCallbackData"
              }
            }
          }
        ]
      },
      "OpenApiCallbackDispatchBody": {
        "description": "Union of all task.completed payloads (see per-endpoint Callbacks on create-async operations)",
        "oneOf": [
          {
            "$ref": "#/components/schemas/OpenApiTtsTaskCompletedCallback"
          },
          {
            "$ref": "#/components/schemas/OpenApiTranslateTaskCompletedCallback"
          },
          {
            "$ref": "#/components/schemas/OpenApiCloneVoiceTaskCompletedCallback"
          },
          {
            "$ref": "#/components/schemas/OpenApiMediaTranslationTaskCompletedCallback"
          }
        ]
      }
    }
  }
}
